<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/fonts/circular-std/style.css}">
    <link rel="stylesheet" th:href="@{/assets/libs/css/style.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/fonts/fontawesome/css/fontawesome-all.css}">
    <style>
        html, body {
            height: 100%;
        }
        body {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
        }
    </style>
</head>
<body>
<!-- ============================================================== -->
<!-- login page  -->
<!-- ============================================================== -->
<div class="splash-container">
    <div class="card">
        <div class="card-header text-center">
            <a th:href="@{/admin/dashBoard}">
                <img class="logo-img" th:src="@{/assets/images/logo.png}" alt="logo">
            </a>
            <span class="splash-description">Please enter your user information.</span>
        </div>
        <div class="card-body">
            <form th:action="@{/admin/login}" method="post">
                <div class="form-group">
                    <input class="form-control form-control-lg" id="email" name="email" type="text" placeholder="Email" autocomplete="off">
                </div>
                <div class="form-group">
                    <input class="form-control form-control-lg" id="password" name="password" type="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <label class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox"><span class="custom-control-label">Remember Me</span>
                    </label>
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
            </form>
            <div th:if="${successMessage}" class="alert alert-success mt-3" th:text="${successMessage}"></div>
            <div th:if="${failMessage}" class="alert alert-danger mt-3" th:text="${failMessage}"></div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- end login page  -->
<!-- ============================================================== -->
<!-- Optional JavaScript -->
<script th:src="@{/assets/vendor/jquery/jquery-3.3.1.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.js}"></script>
</body>
</html>
