<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/fonts/circular-std/style.css}">
    <link rel="stylesheet" th:href="@{/assets/libs/css/style.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/fonts/fontawesome/css/fontawesome-all.css}">
    <link rel="stylesheet" th:href="@{/document/css/adminBoard.css}">
    <title>Admin - Me Mission Log</title>
</head>
<body>
<div class="dashboard-main-wrapper">
    <div class="dashboard-header">
        <nav class="navbar navbar-expand-lg bg-white fixed-top">
            <a class="navbar-brand" th:href="@{/admin/dashBoard}">Me Mission Log</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto navbar-right-top">
                    <li class="nav-item dropdown nav-user">
                        <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img th:src="@{/assets/images/avatar-1.jpg}" alt="" class="user-avatar-md rounded-circle"></a>
                        <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                            <div class="nav-user-info">
                                <h5 class="mb-0 text-white nav-user-name">John Abraham </h5>
                                <span class="status"></span><span class="ml-2">ja@naver.com</span>
                            </div>
                            <a class="dropdown-item" href="#"><i class="fas fa-power-off mr-2"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="nav-left-sidebar sidebar-dark">
        <div class="menu-list">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="d-xl-none d-lg-none" th:href="@{/admin/dashBoard}">Dashboard</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav flex-column">
                        <li class="nav-divider">Menu</li>
                        <li class="nav-item ">
                            <a class="nav-link" th:href="@{/admin/dashBoard}"><i class="fa fa-home fa-clipboard"></i>Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin/userBlackList}"><i class="fa fa-user fa-user-circle"></i>BlackList</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin/reportTotal}"><i class="fas fa-fw fa-file-alt"></i>Report</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin/point}"><i class="fas fa-fw fa-balance-scale"></i>Ban Points</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{/admin/noticeBoard}"><i class="fas fa-fw fa-database"></i>Notice</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin/dailyTopicBoard}"><i class="fas fa-fw fa-box-open"></i>Mission</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <div class="dashboard-wrapper">
        <div class="dashboard-finance">
            <div class="container-fluid dashboard-content">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h2 class="mb-2">Notice</h2>
                        </div>
                    </div>
                </div>

                <div class="table-header">
                    <button class="btn btn-primary mb-2" id="createNoticeBtn">공지사항 작성</button>
                    <span class="left-text">공지사항은 한 번에 최대 5개까지만 노출 가능합니다.</span>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="내용으로 검색">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="notice-table">
                    <table id="noticeTable" class="table table-hover table-striped bg-white">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">공지번호</th>
                            <th scope="col">제목</th>
                            <th scope="col">내용</th>
                            <th scope="col">작성일</th>
                            <th scope="col">노출여부</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="notice : ${noticeList}">
                            <td th:text="${notice.notice_id}"></td>
                            <td th:text="${notice.notice_title}"></td>
                            <td th:text="${notice.notice_content}"></td>
                            <td th:text="${notice.written_date}"></td>
                            <td th:text="${notice.visible_YN}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div id="createNoticeModal" class="modal">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title">공지사항 작성</h2>
                            <span class="close" onclick="closeModal('createNoticeModal')">&times;</span>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="noticeTitle">제목</label>
                                    <input type="text" class="form-control" id="noticeTitle" placeholder="제목을 입력해주세요.">
                                </div>
                                <div class="form-group">
                                    <label for="noticeContent">내용</label>
                                    <textarea class="form-control" id="noticeContent" rows="5" placeholder="내용을 입력해주세요."></textarea>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary mb-2" onclick="uploadNotice()">저장</button>
                        </div>
                    </div>
                </div>

                <div id="noticeDetailModal" class="modal">
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="close" onclick="closeModal('noticeDetailModal')">&times;</span>
                            <h2 class="modal-title">공지사항</h2>
                        </div>
                        <div class="modal-body">
                            <p id="noticeDetailContent"></p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-danger" onclick="modifyNotice()">수정</button>
                        </div>
                    </div>
                </div>

                <div id="modifyNoticeModal" class="modal">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title">공지사항 수정</h2>
                            <span class="close" onclick="closeModal('modifyNoticeModal')">&times;</span>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="modifyTitle">제목</label>
                                    <input type="text" class="form-control" id="modifyNoticeTitle">
                                </div>

                                <div class="form-group">
                                    <label for="modifyContent">내용</label>
                                    <textarea class="form-control" id="modifyNoticeContent" rows="5"></textarea>
                                </div>

                                <div class="form-group">
                                    <label for="noticeVisibility">노출여부</label>
                                    <select class="form-control" id="noticeVisibility">
                                        <option value="Y">Y</option>
                                        <option value="N">N</option>
                                    </select>
                                </div>
                            </form>
                        </div>

                        <div class="modal-footer">
                            <button class="btn btn-primary mb-2" onclick="uploadModifiedNotice()">저장</button>
                        </div>
                    </div>
                </div>

                <div class="pagination">
                    <nav class="pagination-container">
                        <div class="pagination">
                            <a class="pagination-newer" th:href="${currentPage > 1} ? @{/admin/noticeBoard(pageNum=${currentPage - 1}, pageSize=${pageSize})} : 'javascript:void(0);'" th:classappend="${currentPage == 1} ? ' disabled'">PREV</a>
                            <span class="pagination-inner">
                        <a th:each="i : ${#numbers.sequence(1, totalPages)}" th:href="@{/admin/noticeBoard(pageNum=${i}, pageSize=${pageSize})}" th:text="${i}" th:classappend="${i == currentPage} ? ' active'"></a>
                    </span>
                            <a class="pagination-older" th:href="${currentPage < totalPages} ? @{/admin/noticeBoard(pageNum=${currentPage + 1}, pageSize=${pageSize})} : 'javascript:void(0);'" th:classappend="${currentPage == totalPages} ? ' disabled'">NEXT</a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        Copyright © 2018 Concept. All rights reserved. Dashboard by <a href="https://colorlib.com/wp/">Colorlib</a>.
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="text-md-right footer-links d-none d-sm-block">
                            <a href="javascript: void(0);">About</a>
                            <a href="javascript: void(0);">Support</a>
                            <a href="javascript: void(0);">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/assets/vendor/jquery/jquery-3.3.1.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.js}"></script>
<script th:src="@{/assets/vendor/slimscroll/jquery.slimscroll.js}"></script>
<script th:src="@{/assets/libs/js/main-js.js}"></script>
<script>
    function openModal(modalId) {
        document.getElementById(modalId).style.display = "block";
    }

    function closeModal(modalId) {
        document.getElementById(modalId).style.display = "none";
    }

    document.getElementById('createNoticeBtn').addEventListener('click', function () {
        openModal('createNoticeModal');
    });

    $("#noticeTable").on('click', 'tbody tr', function () {
        var noticeId = $(this).find("td:eq(0)").text();
        var ntitle = $(this).find("td:eq(1)").text();
        var ncontent = $(this).find("td:eq(2)").text();
        var writeDate = $(this).find("td:eq(3)").text();
        var status = $(this).find("td:eq(4)").text();

        var noticeDetailContent = `
            <p><strong>공지번호:</strong> ${noticeId}</p>
            <p><strong>제목:</strong> ${ntitle}</p>
            <p><strong>내용:</strong> ${ncontent}</p>
            <p><strong>작성일:</strong> ${writeDate}</p>
            <p><strong>노출여부:</strong> ${status}</p>
        `;

        document.getElementById("noticeDetailContent").innerHTML = noticeDetailContent;

        openModal('noticeDetailModal');
    });

    function uploadNotice() {
        // 입력된 제목과 내용을 가져옵니다.
        var noticeTitle = document.getElementById('noticeTitle').value;
        var noticeContent = document.getElementById('noticeContent').value;

        // 서버로 보낼 데이터를 구성합니다.
        var noticeData = {
            title: noticeTitle,
            content: noticeContent
        };

        // AJAX 요청을 통해 서버로 데이터를 전송합니다.
        $.ajax({
            type: 'POST',
            url: '/admin/noticeBoard',
            contentType: 'application/json',
            data: JSON.stringify(noticeData),
            success: function(response) {
                alert('공지사항 등록이 완료되었습니다.');
                closeModal('createNoticeModal');
                location.reload(); // 페이지를 새로고침하여 변경사항을 반영합니다.
            },
            error: function(error) {
                alert('공지사항 등록에 실패했습니다.');
                console.error(error);
            }
        });
    }

    function modifyNotice() {
        closeModal('noticeDetailModal');
        openModal('modifyNoticeModal');

        let noticeTitle = document.getElementById('noticeDetailContent').querySelector('p:nth-child(2)').innerText.replace('제목: ', '');
        let noticeContent = document.getElementById('noticeDetailContent').querySelector('p:nth-child(3)').innerText.replace('내용: ', '');

        document.getElementById('modifyNoticeTitle').value = noticeTitle;
        document.getElementById('modifyNoticeContent').value = noticeContent;
    }

    function uploadModifiedNotice() {
        let modifyNoticeTitle = document.getElementById('modifyNoticeTitle').value;
        let modifyNoticeContent = document.getElementById('modifyNoticeContent').value;
        let noticeVisibility = document.getElementById('noticeVisibility').value;

        if (!modifyNoticeTitle || !modifyNoticeContent) {
            alert("모든 필드를 입력해주세요.");
            return;
        }

        // 서버에 데이터 전송하는 코드 추가 예정

        alert("공지사항 수정이 완료되었습니다.");
        closeModal('modifyNoticeModal');
    }
</script>
</body>
</html>