<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin Dashboard</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}">
    <link th:href="@{/assets/vendor/fonts/circular-std/style.css}" rel="stylesheet">
    <link th:href="@{/assets/libs/css/style.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/fonts/fontawesome/css/fontawesome-all.css}" rel="stylesheet">
    <style>
        .table-controls {
            text-align: right;
            margin-bottom: 10px;
        }
        .fixed-height-row {
            height: 50px; /* 원하는 높이로 조정 */
        }
    </style>
</head>

<body>
<div class="dashboard-main-wrapper">
    <div class="dashboard-header">
        <nav class="navbar navbar-expand-lg bg-white fixed-top">
            <a class="navbar-brand" th:href="@{/admin/dashBoard}">Me Mission Log</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto navbar-right-top">
                    <li class="nav-item dropdown nav-user">
                        <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img th:src="@{/assets/images/avatar-1.jpg}" alt="" class="user-avatar-md rounded-circle"></a>
                        <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                            <div class="nav-user-info">
                                <h5 class="mb-0 text-white nav-user-name">John Abraham </h5>
                                <span class="status"></span><span class="ml-2">ja@naver.com</span>
                            </div>
                            <a class="dropdown-item" href="#"><i class="fas fa-power-off mr-2"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="nav-left-sidebar sidebar-dark">
        <div class="menu-list">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="d-xl-none d-lg-none" th:href="@{/admin/dashBoard}">Dashboard</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav flex-column">
                        <li class="nav-divider">Menu</li>
                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{/admin/dashBoard}"><i class="fa fa-home fa-clipboard"></i>Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin/userBlackList}"><i class="fa fa-user fa-user-circle"></i>BlackList</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin/reportTotal}"><i class="fas fa-fw fa-file-alt"></i>Report</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin/point}"><i class="fas fa-fw fa-balance-scale"></i>Ban Points</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin/noticeBoard}"><i class="fas fa-fw fa-database"></i>Notice</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin/dailyTopicBoard}"><i class="fas fa-fw fa-box-open"></i>Mission</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <div class="dashboard-wrapper">
        <div class="container-fluid dashboard-content">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title">Report</h2>
                        <p class="pageheader-text"></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header">미처리된 게시물</h5>
                        <div class="card-body">
                            <div class="table-controls">
                                <select id="filterUnprocessedReason" class="form-control d-inline-block ml-2" style="width: 200px;">
                                    <option value="">신고 사유</option>
                                    <option value="스팸">스팸</option>
                                    <option value="광고">광고</option>
                                    <option value="욕설">욕설</option>
                                    <option value="정치">정치</option>
                                    <option value="비속어">비속어</option>
                                </select>
                                <input type="text" id="searchUnprocessedInput" class="form-control d-inline-block" placeholder="검색" style="width: 200px;">
                                <button id="searchUnprocessed" class="btn btn-secondary ml-2">Search</button>
                            </div>
                            <div class="table-responsive">
                                <table id="unprocessedPosts" class="table table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th><input type="checkbox" id="checkAllUnprocessed"></th>
                                        <th scope="col">신고번호</th>
                                        <th scope="col">신고자</th>
                                        <th scope="col">내용</th>
                                        <th scope="col">신고 누적 점수</th>
                                        <th scope="col">신고 사유</th>
                                        <th scope="col">신고일</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="upProcessedPost : ${unProcessedPostListDTO}" class="fixed-height-row">
                                        <td><input type="checkbox" class="checkItemUnprocessed small-checkbox"></td>
                                        <th scope="row" th:text="${upProcessedPost.report_id}"></th>
                                        <td th:text="${upProcessedPost.reported_user_nickName}"></td>
                                        <td th:text="${upProcessedPost.content}"></td>
                                        <td th:text="${upProcessedPost.reporter_user_id}"></td>
                                        <td th:text="${upProcessedPost.rpt_category}"></td>
                                        <td th:text="${#dates.format(upProcessedPost.report_datetime, 'yyyy-MM-dd')}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="table-controls">
                                <button id="processSelected" class="btn btn-primary mt-3">선택 항목 처리</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header">처리된 게시물</h5>
                        <div class="card-body">
                            <div class="table-controls">
                                <select id="filterProcessedReason" class="form-control d-inline-block ml-2" style="width: 200px;">
                                    <option value="">신고 사유</option>
                                    <option value="스팸">스팸</option>
                                    <option value="광고">광고</option>
                                    <option value="욕설">욕설</option>
                                    <option value="정치">정치</option>
                                    <option value="비속어">비속어</option>
                                </select>
                                <input type="text" id="searchProcessedInput" class="form-control d-inline-block" placeholder="검색" style="width: 200px;">
                                <button id="searchProcessed" class="btn btn-secondary ml-2">Search</button>
                            </div>
                            <div class="table-responsive">
                                <table id="processedPosts" class="table table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th><input type="checkbox" id="checkAllProcessed"></th>
                                        <th scope="col">신고번호</th>
                                        <th scope="col">닉네임</th>
                                        <th scope="col">내용</th>
                                        <th scope="col">신고 누적 점수</th>
                                        <th scope="col">신고 사유</th>
                                        <th scope="col">신고일</th>
                                        <th scope="col">처리 날짜</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="processedPost : ${processedPostListDTO}" class="fixed-height-row">
                                        <td><input type="checkbox" class="checkItemProcessed small-checkbox"></td>
                                        <th scope="row" th:text="${processedPost.report_id}"></th>
                                        <td th:text="${processedPost.reported_user_nickName}"></td>
                                        <td th:text="${processedPost.content}"></td>
                                        <td th:text="${processedPost.reporter_user_id}"></td>
                                        <td th:text="${processedPost.rpt_category}"></td>
                                        <td th:text="${#dates.format(processedPost.report_datetime, 'yyyy-MM-dd')}"></td>
                                        <td th:text="${#dates.format(processedPost.processed_datetime, 'yyyy-MM-dd')}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                        Copyright © 2018 Concept. All rights reserved. Dashboard by <a href="https://colorlib.com/wp/">Colorlib</a>.
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                        <div class="text-md-right footer-links d-none d-sm-block">
                            <a href="javascript: void(0);">About</a>
                            <a href="javascript: void(0);">Support</a>
                            <a href="javascript: void(0);">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<script th:src="@{/assets/vendor/jquery/jquery-3.3.1.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.js}"></script>
<script th:src="@{/assets/vendor/slimscroll/jquery.slimscroll.js}"></script>
<script th:src="@{/assets/vendor/multi-select/js/jquery.multi-select.js}"></script>
<script th:src="@{/assets/libs/js/main-js.js}"></script>
<script>
    $(document).ready(function() {
        // 처리된 게시물 테이블 검색 기능
        $('#searchProcessed').click(function() {
            var value = $('#searchProcessedInput').val().toLowerCase();
            $('#processedPosts tbody tr').filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
            });
        });

        // 처리 안 된 게시물 테이블 검색 기능
        $('#searchUnprocessed').click(function() {
            var value = $('#searchUnprocessedInput').val().toLowerCase();
            $('#unprocessedPosts tbody tr').filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
            });
        });

        // 처리된 게시물 전체 선택/해제
        $('#checkAllProcessed').click(function() {
            $('.checkItemProcessed').prop('checked', this.checked);
        });

        // 처리 안 된 게시물 전체 선택/해제
        $('#checkAllUnprocessed').click(function() {
            $('.checkItemUnprocessed').prop('checked', this.checked);
        });

        // 선택 항목 처리
        $('#processSelected').click(function() {
            $('#unprocessedPosts tbody tr').each(function() {
                if ($(this).find('.checkItemUnprocessed').is(':checked')) {
                    var 신고번호 = $(this).find('th').eq(0).text();
                    var 닉네임 = $(this).find('td').eq(1).text();
                    var 내용 = $(this).find('td').eq(2).text();
                    var 신고누적점수 = $(this).find('td').eq(3).text();
                    var 신고사유 = $(this).find('td').eq(4).text();
                    var 신고일 = $(this).find('td').eq(5).text();
                    var 처리날짜 = new Date().toISOString().split('T')[0];
                    var newRow = `
                        <tr class="fixed-height-row">
                            <td><input type="checkbox" class="checkItemProcessed small-checkbox"></td>
                            <th scope="row">${신고번호}</th>
                            <td>${닉네임}</td>
                            <td>${내용}</td>
                            <td>${신고누적점수}</td>
                            <td>${신고사유}</td>
                            <td>${신고일}</td>
                            <td>${처리날짜}</td>
                        </tr>
                    `;
                    $('#processedPosts tbody').append(newRow);
                    $(this).remove();
                }
            });
        });

        // 처리 안 된 게시물 행 클릭 시 모달 띄우기
        $('#unprocessedPosts tbody').on('click', 'tr', function() {
            var data = {
                신고번호: $(this).find('th').eq(0).text(),
                닉네임: $(this).find('td').eq(1).text(),
                내용: $(this).find('td').eq(2).text(),
                신고누적점수: $(this).find('td').eq(3).text(),
                신고사유: $(this).find('td').eq(4).text(),
                신고일: $(this).find('td').eq(5).text(),
            };
            var modalContent = `
                <p><strong>신고번호:</strong> ${data.신고번호}</p>
                <p><strong>닉네임:</strong> ${data.닉네임}</p>
                <p><strong>내용:</strong> ${data.내용}</p>
                <p><strong>신고누적점수:</strong> ${data.신고누적점수}</p>
                <p><strong>신고 사유:</strong> ${data.신고사유}</p>
                <p><strong>신고일:</strong> ${data.신고일}</p>
            `;
            $('#modalBody').html(modalContent);
            $('#detailModal').modal('show');
        });

        // 처리된 게시물 행 클릭 시 모달 띄우기
        $('#processedPosts tbody').on('click', 'tr', function() {
            var data = {
                신고번호: $(this).find('th').eq(0).text(),
                닉네임: $(this).find('td').eq(1).text(),
                내용: $(this).find('td').eq(2).text(),
                신고누적점수: $(this).find('td').eq(3).text(),
                신고사유: $(this).find('td').eq(4).text(),
                신고일: $(this).find('td').eq(5).text(),
                처리날짜: $(this).find('td').eq(6).text(),
            };
            var modalContent = `
                <p><strong>신고번호:</strong> ${data.신고번호}</p>
                <p><strong>닉네임:</strong> ${data.닉네임}</p>
                <p><strong>내용:</strong> ${data.내용}</p>
                <p><strong>신고누적점수:</strong> ${data.신고누적점수}</p>
                <p><strong>신고 사유:</strong> ${data.신고사유}</p>
                <p><strong>신고일:</strong> ${data.신고일}</p>
                <p><strong>처리 날짜:</strong> ${data.처리날짜}</p>
            `;
            $('#modalBody').html(modalContent);
            $('#detailModal').modal('show');
        });

        // 신고 사유 필터링 기능
        $('#filterUnprocessedReason').change(function() {
            var selectedReason = $(this).val().toLowerCase();
            $('#unprocessedPosts tbody tr').filter(function() {
                if (selectedReason === "") {
                    $(this).show();
                } else {
                    $(this).toggle($(this).find('td').eq(4).text().toLowerCase().indexOf(selectedReason) > -1);
                }
            });
        });

        $('#filterProcessedReason').change(function() {
            var selectedReason = $(this).val().toLowerCase();
            $('#processedPosts tbody tr').filter(function() {
                if (selectedReason === "") {
                    $(this).show();
                } else {
                    $(this).toggle($(this).find('td').eq(4).text().toLowerCase().indexOf(selectedReason) > -1);
                }
            });
        });
    });
</script>

<!-- Modal -->
<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailModalLabel">신고 상세 정보</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBody">
                <!-- 상세 내용이 여기에 표시됩니다. -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>
</body>

</html>
