<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <link rel="stylesheet" href="/document/css/layout.css">
    <link rel="stylesheet" href="/document/css/searchbar.css">
    <link rel="stylesheet" href="/document/css/allview.css">
</head>
<body>
<div th:replace="~{fragments/mainHeader :: header}"></div>
<main>
    <div class="content">
        <form id="themeWordForm" action="/theme" method="get" class="search-box">
            <input type="text" name="word" class="search-bar" placeholder="찾고싶은 질문 키워드를 검색해보세요!" th:value="${param.word}">
            <button type="submit" class="search-btn"></button>
            <input type="hidden" id="themeType" name="type">
        </form>
        <div class="note-container" id="note-container"></div>
        <div class="pagination" id="pagination"></div>
    </div>
</main>
<div th:replace="~{fragments/mainFooter :: footer}"></div>
<script src="/document/js/missionPost.js"></script>
<script>
</script>
</body>
</html>
