<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Me Mission Log</title>
    <link rel="stylesheet" href="../../document/css/layout.css" />
    <link rel="stylesheet" href="../../document/css/mydiary.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div class="container">
    <div th:replace="~{/fragments/mainHeader :: header}"></div>

    <div class="user-container">
        <div class="user-profile">
            <img th:src="${user.src_url != null && !user.src_url.isEmpty() ? user.src_url : '/document/img/default_profile.png'}"
                 alt="Profile Picture"
                 class="profile-pic">

            <p id="userNickname" th:text="${user.nickname}"/>
            <img th:src="@{/document/img/settings.png}" alt="Settings Icon" class="settings-icon" onclick="openModal('userModal')">
        </div>

        <div id="userModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal('userModal')">&times;</span>
                <h2>회원 정보</h2>
                <div class="modal-body">
                    <div class="modal-left">
                        <p><strong>아이디:</strong> <span id="userEmail" th:text="${user.email}"/></p>
                        <p><strong>닉네임:</strong> <span id="userNickname" th:text="${user.nickname}"/></p>
                        <p><strong>가입일:</strong> <span th:text="${user.signup_date}"/></p>
                    </div>
                    <div class="modal-right">
                        <div class="profile-pic-container">
                            <img th:src="${user.src_url != null && !user.src_url.isEmpty() ? user.src_url : '/document/img/default_profile.png'}"
                                 alt="Profile Picture"
                                 class="profile-pic">

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button onclick="openModal('editModal')">정보 수정</button>
                    <button onclick="openModal('deleteModal')">회원 탈퇴</button>
                </div>
            </div>
        </div>
        <div id="editModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal('editModal')">&times;</span>
                <h2>정보 수정</h2>
                <div class="modal-body">
                    <div class="modal-left">
                        <form id="editForm" method="post" action="/editUserInfo">
                            <div class="form-group">
                                <label for="email">아이디:</label>
                                <input type="text" id="email" name="email" th:value="${user.email}"><br>
                            </div>
                            <div class="form-group">
                                <label for="nickname">닉네임:</label>
                                <input type="text" id="nickname" name="nickname" th:value="${user.nickname}"><br>
                            </div>
                            <div class="form-group">
                                <label for="password">비밀번호:</label>
                                <input type="password" id="password" name="password"><br>
                            </div>
                            <div class="form-group">
                                <label for="password2">비밀번호 확인:</label>
                                <input type="password" id="password2" name="password2"><br>
                            </div>
                            <div class="form-footer">
                                <button type="submit">수정</button>
                                <button type="button" onclick="closeModal('editModal')">취소</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-right">
                        <div class="profile-pic-container">
                            <img th:src="${user.src_url != null && !user.src_url.isEmpty() ? user.src_url : '/document/img/default_profile.png'}"
                                 alt="Profile Picture"
                                 class="profile-pic">
                            <button class="change-profile-button" onclick="openModal('profilePicModal')">사진 수정</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="profilePicModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal('profilePicModal')">&times;</span>
                <h2>프로필 사진 변경</h2>
                <form id="profilePicForm" method="post" action="/editProfilePic" enctype="multipart/form-data">
                    <input type="file" id="profilePic" name="profilePic"><br><br>
                    <input type="hidden" name="type" value="profile">
                    <input type="hidden" name="user_id" value="${user_id}">
                    <div class="form-footer">
                        <button type="submit">업로드</button>
                        <button type="button" onclick="deleteProfilePic()">삭제</button>
                    </div>
                </form>
            </div>
        </div>

        <div id="deleteModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal('deleteModal')">&times;</span>
                <h2>회원 탈퇴</h2>
                <p>탈퇴 후 계정 복구가 불가합니다.<br>정말 탈퇴를 진행하시겠습니까?<br>탈퇴를 원하시면 비밀번호를 입력해주세요.</p><br>
                <form id="deleteForm">
                    <input type="password" id="deletePassword" name="deletePassword" placeholder="비밀번호 확인"><br>
                    <div class="form-footer">
                        <button type="submit">탈퇴</button>
                        <button type="button" onclick="closeModal('deleteModal')">취소</button>
                    </div>
                </form>
            </div>
        </div>
        <div id="chart-container" class="chart-container">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
            <div class="total-mood">
                <canvas id="bar-chart-horizontal"></canvas>
            </div>
            <div class="user-mood-chart">
                <canvas id="line-chart" style="width: 500px;"></canvas>
                <div class="legend-container" id="legend"></div>
            </div>
        </div>
    </div>
    <div class="posts">
        <div class="mydiary-menu-bar">
            <button class="tablinks" onclick="openPage(event, 'post-card-container')">모아보기</button>
            <button class="tablinks" onclick="openPage(event, 'calendar-container')">일자별 보기</button>
        </div>

        <div id="post-card-container" class="tabcontent" style="display: flex;">
            <div th:each="post : ${posts}" class="post-card">
                <img th:src="@{|${post.src_url}|}" alt="Post Image">
            </div>
        </div>

        <div id="calendar-container" class="tabcontent">
            <div class="date-selector">
                <ul>
                    <li th:each="day : ${#numbers.sequence(1,31)}"
                        th:text="${day}"
                        th:onclick="'sendDate(' +${day}+ ')'">
                    </li>
                </ul>
            </div>

            <div class="calendar-contents">

            </div>
        </div>
    </div>
    <div th:replace="~{/fragments/mainFooter :: footer}"></div>
</div>
<script>
    console.log("Script Loaded");

    var barChart;
    var lineChart;

    document.addEventListener("DOMContentLoaded", function () {
        const firstTabLink = document.querySelector(".tablinks");
        const calendarContainer = document.getElementById("calendar-container");
        const dateSelector = document.querySelector(".date-selector ul");


        if (firstTabLink) {
            firstTabLink.click();
        }

        dateSelector.addEventListener("click", function (event) {
            if (event.target.tagName === "LI") {
                const selectedDate = event.target.textContent;
                fetchPostsForDate(selectedDate);
            }
        });
    });

    function openPage(evt, pageName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(pageName).style.display = "flex";
        evt.currentTarget.className += " active";
        if (pageName === 'post-card-container') {
            document.querySelector('.total-mood').style.display = 'block';
            document.querySelector('.user-mood-chart').style.display = 'none';
            displayBarChart();
        } else if (pageName === 'calendar-container') {
            document.querySelector('.total-mood').style.display = 'none';
            document.querySelector('.user-mood-chart').style.display = 'block';
            document.querySelector('.calendar-contents').style.display = 'flex';
            displayLineChart();
        }
    }

    function openModal(modalId) {
        document.getElementById(modalId).style.display = "block";
    }

    function closeModal(modalId) {
        document.getElementById(modalId).style.display = "none";
    }

    document.getElementById('profilePicForm').onsubmit = function (event) {
        event.preventDefault();

        var formData = new FormData(this);

        $.ajax({
            url: '/file/upload',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function(response) {
                var userConfirmed = confirm("프로필 사진이 성공적으로 변경되었습니다.");
                if (userConfirmed) {
                    location.reload();
                }
            },
            error: function(xhr, status, error) {
                console.log("Error: " + error);
                alert("프로필 사진 변경에 실패했습니다.");
            }
        });
    }

    function deleteProfilePic() {
        var user_id = document.querySelector('input[name="user_id"]').value;
        var type = "profile";
        $.ajax({
            url: 'file/resetPic',
            type: 'POST',
            data: {
                user_id: user_id,
                type: type
            },
            success: function (response){
                var defaultSrc = document.querySelector('.profile-pic').getAttribute('data-default-src');
                document.querySelector('.profile-pic').src = defaultSrc;
                var userConfirmed = confirm("프로필 사진이 성공적으로 삭제되었습니다.");
                if (userConfirmed) {
                    location.reload();
                }
            },
            error: function(xhr, status, error){
                alert("프로필 사진 삭제에 실패했습니다. 다시 시도해주세요.")
            }
        });
    }

    window.onclick = function (event) {
        var modals = document.getElementsByClassName('modal');
        for (var i = 0; i < modals.length; i++) {
            if (event.target == modals[i]) {
                modals[i].style.display = "none";
            }
        }
    }

    document.getElementById('editForm').onsubmit = function(event) {
        event.preventDefault();
        const password = document.getElementById('password').value;
        const password2 = document.getElementById('password2').value;
        if (password !== password2) {
            alert("비밀번호가 일치하지 않습니다.");
            return;
        }
        var formData = $(this).serialize();
        $.ajax({
            url: '/editUserInfo',
            type: 'POST',
            data: formData,
            success: function(response) {
                $('#userModal #userEmail').text(response.email);
                $('#userModal #userNickname').text(response.nickname);
                $('#userNickname').text(response.nickname);
                alert("회원 정보가 성공적으로 수정되었습니다.");
                closeModal('editModal');
            },
            error: function(xhr, status, error) {
                console.log("Error: " + error);
            }
        });
    };

    document.getElementById('deleteForm').onsubmit = function(event) {
        event.preventDefault();

        const password = document.getElementById('deletePassword').value;

        fetch('/user/withdraw', {
            method: 'POST',
            headers: {
                'Content-Type': 'text/plain'
            },
            body: password
        })
            .then(response => {
                return response.text().then(text => {
                    if (response.ok) {
                        alert(text);
                        closeModal('deleteModal');
                        location.href = '/';
                    } else {
                        throw new Error(text);
                    }
                });
            })
            .catch(error => {
                alert(error.message);
                closeModal('deleteModal');
            });
    };

    function sendDate(day) {
        const selectedDate = day;
        fetchPostsForDate(selecteDate);
    }

    function fetchPostsForDate(date) {
        fetch("/selectedDate", {
            method : "POST",
            headers : {
                "Content-Type" : "application/json"
            },
            body: JSON.stringify({ selectedDate: date })
        })
            .then(response => response.json())
            .then(data => {
                displayPosts(data);
            })
            .catch(error => console.error("Error fetching posts: " , error));
    }

    function displayPosts(posts) {
        const calendarContents = document.querySelector(".calendar-contents");
        calendarContents.innerHTML = "";

        posts.forEach(post => {
            const postElement = document.createElement("div");
            postElement.className = "calendar-card";

            const postImage = document.createElement("img");
            postImage.src = `${post.src_url}`;
            postImage.width = 150;
            postImage.height = 180;

            postElement.appendChild(postImage);
            calendarContents.appendChild(postElement);
        });
    }

    function displayBarChart() {
        if (barChart) {
            barChart.destroy();
        }
        var barChartCanvas = document.getElementById("bar-chart-horizontal");
        barChartCanvas.height = 240;
        barChartCanvas.width = 400;
        var ctx = barChartCanvas.getContext("2d");

        var labels = [
            { img: '../../document/img/colored_happy.png', text: '😃' },
            { img: '../../document/img/colored_cool.png', text: '😎' },
            { img: '../../document/img/colored_surprised.png', text: '😮' },
            { img: '../../document/img/colored_soso.png', text: '😐' },
            { img: '../../document/img/colored_sad.png', text: '🥲' }
        ];

        var images = [];
        var imagesLoaded = 0;
        labels.forEach((label, index) => {
            var image = new Image();
            image.src = label.img;
            image.onload = () => {
                imagesLoaded++;
                if (imagesLoaded === labels.length) {
                    drawChart();
                }
            };
            images.push(image);
        });

        function drawChart() {
            barChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels.map(label => label.text),
                    datasets: [{
                        backgroundColor: ["#8D7CB3", "#83A1B5", "#B39F7F", "#98B681", "#AE7E8A"],
                        data: [25, 62, 39, 43, 58]
                    }]
                },
                options: {
                    indexAxis: 'y',
                    plugins: {
                        title: {
                            display: true,
                            text: 'My Whole Mood',
                            align: 'center',
                            font: {
                                size: 20,
                                weight: 'normal'
                            },
                            padding: 20
                        },
                        legend: {
                            display: false
                        },
                    },
                    layout: {
                        padding: {
                            left: 30
                        }
                    },
                    scales: {
                        x: {
                            ticks: {
                                beginAtZero: true
                            },
                            title: {
                                display: true,
                                font: {
                                    size: 20
                                }
                            }
                        },
                        y: {
                            ticks: {
                                display: true,
                                callback: function(value, index) {
                                    return '';
                                }
                            },
                            barPercentage: 0.6,
                            categoryPercentage: 1.8
                        }
                    }
                },
                plugins: [{
                    afterDraw: chart => {
                        var ctx = chart.ctx;
                        chart.data.labels.forEach((label, index) => {
                            var image = images[index];
                            var y = chart.scales.y.getPixelForValue(index) - 15;
                            var x = chart.scales.x.left - 40;
                            ctx.drawImage(image, x, y, 30, 30);
                        });
                    }
                }]
            });
        }
    }

    function getEmojiImage(emoji) {
        switch (emoji) {
            case "😀": return '../../document/img/colored_happy.png';
            case "😎": return '../../document/img/colored_cool.png';
            case "😮": return '../../document/img/colored_surprised.png';
            case "😐": return '../../document/img/colored_soso.png';
            case "😢": return '../../document/img/colored_sad.png';
            default: return '';
        }
    }

    function displayLineChart() {
        if (window.lineChart) {
            window.lineChart.destroy();
        }

        var lineChartCanvas = document.getElementById("line-chart").getContext("2d");
        window.lineChart = new Chart(lineChartCanvas, {
            type: 'line',
            data: {
                labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
                datasets: [{
                    data: [20, 18, 22, 25, 24, 26, 19, 21, 23, 17, 16, 20],
                    label: "😀",
                    borderColor: "#8D7CB3",
                    fill: false,
                }, {
                    data: [15, 17, 16, 10, 13, 14, 12, 19, 14, 15, 18, 10],
                    label: "😎",
                    borderColor: "#83A1B5",
                    fill: false
                }, {
                    data: [30, 20, 18, 25, 20, 18, 24, 20, 20, 18, 21, 20],
                    label: "😮",
                    borderColor: "#B39F7F",
                    fill: false
                }, {
                    data: [10, 15, 20, 15, 18, 17, 15, 15, 15, 20, 15, 15],
                    label: "😐",
                    borderColor: "#98B681",
                    fill: false
                }, {
                    data: [25, 30, 24, 25, 25, 25, 30, 25, 28, 30, 30, 35],
                    label: "😢",
                    borderColor: "#AE7E8A",
                    fill: false
                }]
            },
            options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'Track My Mood',
                        font: {
                            size: 20,
                            weight: 'normal'
                        },
                        padding: {
                            top: 10,
                            bottom: 30
                        }
                    },
                    legend: {
                        display: false
                    }
                },
                scales: {
                    y: {
                        ticks: {
                            display: false
                        }
                    }
                }
            },
            plugins: [{
                afterRender: function(chart) {
                    var legendContainer = document.getElementById('legend');
                    legendContainer.innerHTML = '';
                    chart.data.datasets.forEach(function(dataset, i) {
                        var legendItem = document.createElement('div');
                        legendItem.classList.add('legend-item');
                        legendItem.onclick = function() {
                            var meta = chart.getDatasetMeta(i);
                            meta.hidden = meta.hidden === null ? !chart.data.datasets[i].hidden : null;
                            chart.update();
                        };
                        var colorBox = document.createElement('span');
                        colorBox.classList.add('color-box');
                        colorBox.style.borderColor = dataset.borderColor;
                        var img = document.createElement('img');
                        img.src = getEmojiImage(dataset.label);
                        img.classList.add('legend-image');
                        legendItem.appendChild(colorBox);
                        legendItem.appendChild(img);
                        legendContainer.appendChild(legendItem);
                    });
                }
            }]
        });
    }

    window.onload = function() {
        displayLineChart();
    };
</script>
</body>
</html>