<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Me Mission Log</title>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
    />
    <link rel="stylesheet" href="../../document/css/layout.css" />
    <link rel="stylesheet" href="../../document/css/mydiary.css" />
    <link href="../../document/css/allview.css" rel="stylesheet" />
    <link href="../../document/css/postview.css" rel="stylesheet" />

    <!-- sweetalert2 -->
    <link
            href="
    https://cdn.jsdelivr.net/npm/sweetalert2@11.12.2/dist/sweetalert2.min.css
    "
            rel="stylesheet"
    />
    <script src="
    https://cdn.jsdelivr.net/npm/sweetalert2@11.12.2/dist/sweetalert2.all.min.js
    "></script>

    <!-- animate -->
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="../../document/js/mydiary.js"></script>
</head>
<body>
<div th:replace="~{fragments/mainHeader :: header}"></div>
<div class="container">
    <div class="user-container">
        <div class="user-profile">
            <img th:src="${user.src_url != null && !user.src_url.isEmpty() ? user.src_url : '/document/img/default_profile.png'}"
                 alt="Profile Picture"
                 class="profile-pic">

            <p id="userNickname" th:text="${user.nickname}"/>
            <img th:src="@{/document/img/settings.png}" alt="Settings Icon" class="settings-icon" onclick="openModal('userModal')">
        </div>

        <div id="userModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal('userModal')">&times;</span>
                <h2>회원 정보</h2>
                <div class="modal-body">
                    <div class="modal-left">
                        <p><strong>아이디:</strong> <span id="userEmail" th:text="${user.email}"/></p>
                        <p><strong>닉네임:</strong> <span id="userNickname" th:text="${user.nickname}"/></p>
                        <p><strong>가입일:</strong> <span th:text="${user.signup_date}"/></p>
                    </div>
                    <div class="modal-right">
                        <div class="profile-pic-container">
                            <img th:src="${user.src_url != null && !user.src_url.isEmpty() ? user.src_url : '/document/img/default_profile.png'}"
                                 alt="Profile Picture"
                                 class="profile-pic">

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button onclick="openModal('editModal')">정보 수정</button>
                    <button onclick="openModal('deleteModal')">회원 탈퇴</button>
                </div>
            </div>
        </div>
        <div id="editModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal('editModal')">&times;</span>
                <h2>정보 수정</h2>
                <div class="modal-body">
                    <div class="modal-left">
                        <form id="editForm" method="post" action="/editUserInfo">
                            <div class="form-group">
                                <label for="email">아이디:</label>
                                <input type="text" id="email" name="email" th:value="${user.email}"><br>
                            </div>
                            <div class="form-group">
                                <label for="nickname">닉네임:</label>
                                <input type="text" id="nickname" name="nickname" th:value="${user.nickname}"><br>
                            </div>
                            <div class="form-group">
                                <label for="password">비밀번호:</label>
                                <input type="password" id="password" name="password"><br>
                            </div>
                            <div class="form-group">
                                <label for="password2">비밀번호 확인:</label>
                                <input type="password" id="password2" name="password2"><br>
                            </div>
                            <div class="form-footer">
                                <button type="submit">수정</button>
                                <button type="button" onclick="closeModal('editModal')">취소</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-right">
                        <div class="profile-pic-container">
                            <img th:src="${user.src_url != null && !user.src_url.isEmpty() ? user.src_url : '/document/img/default_profile.png'}"
                                 alt="Profile Picture"
                                 class="profile-pic">
                            <button class="change-profile-button" onclick="openModal('profilePicModal')">사진 수정</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="profilePicModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal('profilePicModal')">&times;</span>
                <h2>프로필 사진 변경</h2>
                <form id="profilePicForm" method="post" action="/editProfilePic" enctype="multipart/form-data">
                    <input type="file" id="profilePic" name="profilePic"><br><br>
                    <input type="hidden" name="type" value="profile">
                    <input type="hidden" name="user_id" value="${user_id}">
                    <div class="form-footer">
                        <button type="submit">업로드</button>
                        <button type="button" onclick="deleteProfilePic()">삭제</button>
                    </div>
                </form>
            </div>
        </div>

        <div id="deleteModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal('deleteModal')">&times;</span>
                <h2>회원 탈퇴</h2>
                <p>탈퇴 후 계정 복구가 불가합니다.<br>정말 탈퇴를 진행하시겠습니까?<br>탈퇴를 원하시면 비밀번호를 입력해주세요.</p>
                <form id="deleteForm">
                    <input type="password" id="deletePassword" name="deletePassword" placeholder="비밀번호 확인">
                    <div class="form-footer">
                        <button type="submit">탈퇴</button>
                        <button type="button" onclick="closeModal('deleteModal')">취소</button>
                    </div>
                </form>
            </div>
        </div>
        <div id="chart-container" class="chart-container">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
            <div class="total-mood">
                <canvas id="bar-chart-horizontal"></canvas>
            </div>
            <div class="user-mood-chart">
                <canvas id="line-chart" style="width: 500px;"></canvas>
                <div class="legend-container" id="legend"></div>
            </div>
        </div>
    </div>
    <div class="posts">
        <div class="mydiary-menu-bar">
            <button class="tablinks" onclick="openPage(event, 'post-card-container')">모아보기</button>
            <button class="tablinks" onclick="openPage(event, 'calendar-container')">일자별 보기</button>
        </div>

        <div id="post-card-container" class="tabcontent" style="display: flex;"></div>
        <div id="posts-data" th:utext="${postsJson}" style="display:none;"></div>

        <div id="calendar-container" class="tabcontent">
            <div class="date-selector">
                <ul>
                    <li th:each="day : ${#numbers.sequence(1,31)}"
                        th:text="${day}"
                        th:onclick="'sendDate(' +${day}+ ')'">
                    </li>
                </ul>
            </div>

            <div class="calendar-contents">
            </div>
        </div>
    </div>
    <!-- 여기서부터 모달 -->
    <div class="modal-bg">
        <div class="post-modal">
            <div class="post-modal-top">
                <div class="etc-dropdown">
                    <img
                            src="../../document/img/etc.png"
                            height="25px"
                            alt="etc이미지"
                            class="etc-img"
                    />
                    <div class="dropdown-content">
                        <span class="post-report-btn" style="color: red">신고</span>
                        <span class="post-edit-btn">수정</span>
                        <span class="post-delete-btn">삭제</span>
                    </div>
                </div>
                <button
                        class="post-modal-close-btn"
                        style="
              background-color: rgba(0, 0, 0, 0);
              border: none;
              font-size: 40px;
              color: grey;
              cursor: pointer;
            "
                >
                    &times;
                </button>
            </div>
            <!-- post modal content -->
            <div class="post-modal-content" style="display: flex">
                <!-- post modal 왼쪽 -->
                <div class="post-modal-left">
                    <div style="margin: 0 32px 20px; text-align: left">
                        <div style="margin-bottom: 15px">
                            <button id="priTheme" class="category-btn active"></button>
                            <button id="subTheme" class="category-btn active"></button>
                            <button id="companion" class="category-btn active"></button>
                        </div>
                        <p id="missionContent" style="font-size: 32px; font-weight: 500">
                        </p>
                    </div>

                    <div class="post-modal-board-img">
                        <span class="arrow arrow-left hidden">&lt;</span>
                        <!-- 여기에 포스트 이미지 -->
                        <span class="arrow arrow-right">&gt;</span>
                    </div>

                    <div class="post-modal-user-info">
                        <div class="post-modal-profile">
                            <img
                                    id="profileImg"
                                    alt="프로필이미지"
                                    width="50px"
                                    height="50px"
                                    style="border-radius: 50%; overflow: hidden; object-fit: cover"
                            />
                            <p id="nickname"></p>
                        </div>
                        <div class="post-modal-like-box">
                            <p id="likeCount"></p>
                            <img
                                    src="../../document/img/heart.png"
                                    alt="좋아요"
                                    width="30px"
                                    height="30px"
                                    class="post-like-btn"
                                    style="cursor: pointer"
                            />
                        </div>
                    </div>

                    <!-- ================================== -->
                </div>

                <!-- post modal 오른쪽 -->
                <div class="post-modal-right">
                    <div class="post-modal-right-info">
                        <p id="writtenDate"></p>
                        <img
                                id="emotionImg"
                                src=""
                                alt="감정이미지"
                                width="30px"
                                height="30px"
                                style="border-radius: 50%"
                        />
                    </div>
                    <div id="content" style="text-align: left"></div>
                </div>
                <!-- post modal content 끝 -->
            </div>
        </div>
    </div>

    <!-- 신고 모달 -->
    <div class="report-modal-bg">
        <div class="report-modal">
            <div class="report-modal-content" style="width: 300px">
                <form id="reportForm" action="/post/report" method="post">
                    <div class="repCate-box" style="height: 50px">
                        <label for="reportCategory">신고 분류</label>
                        <select id="reportCategory" name="rptCategoryId">
                            <option th:each="repCate: ${reportCategory}" th:text="${repCate.category_name}" th:value="${repCate.rpt_category_id}"></option>
                        </select>
                    </div>
                    <div class="repContent-box" style="height: 95px">
                        <label for="reportMissionContent">상세 내용</label>
                        <textarea id="reportMissionContent" name="rptContent" placeholder="상세한 신고 사유를 입력해주세요."></textarea>
                    </div>
                    <input type="hidden" id="reportPostId" name="postId"/>
                    <input type="hidden" id="reportedUserId" name="rptedUserId"/>
                    <div class="repBtn-box" style="padding: 0 90px">
                        <button type="submit" style="color: white; background: black">신고</button>
                        <button type="button" class="report-modal-close-btn" style="color: black; background: white">취소</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- 신고 모달 끝 -->
</div>
<div th:replace="~{fragments/mainFooter :: footer}"></div>
<script src="../../document/js/allviewModal.js"></script>

</body>
</html>