<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MeMissionLog</title>
    <!-- css 초기화 -->
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
    />
    <!-- 전체 레이아웃 css -->
    <link
            href="../../document/css/layout.css"
            rel="stylesheet"
    />
    <link
            href="../../document/css/searchbar.css"
            rel="stylesheet"
    />
    <link
            href="../../document/css/postview.css"
            rel="stylesheet"
    />

    <!-- sweetalert2 -->
    <link
            href="
    https://cdn.jsdelivr.net/npm/sweetalert2@11.12.2/dist/sweetalert2.min.css
    "
            rel="stylesheet"
    />
    <script src="
    https://cdn.jsdelivr.net/npm/sweetalert2@11.12.2/dist/sweetalert2.all.min.js
    "></script>

    <!-- animate -->
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
</head>
<body>
<div th:replace="~{/fragments/mainHeader :: header}"></div>
<main>
    <div class="content">
        <div class="modal-container">
<!--            <div class="modal-function">-->
<!--                <button class="modal-close-btn">&times;</button>-->
<!--            </div>-->
            <div class="modal-mission-container">
                <img
                        class="modal-mission-img"
                        src="../../document/img/banner.jpg"
                />
                <div>6월 20일의 미션</div>
                <div>미미들이 생각하는 여름 낭만은?</div>
            </div>
            <div class="modal-mission-filter-container">
                <form id="companionForm" action="/post/companion" method="get" class="category-box">
                    <span class="category-title">누구와</span>
                    <input type="hidden" id="companionType" name="type">
                    <button type="button" value="1" onclick="addValue(this, this.value)" class="category-btn">친구</button>
                    <button type="button" value="2" onclick="addValue(this, this.value)" class="category-btn">가족</button>
                    <button type="button" value="3" onclick="addValue(this, this.value)" class="category-btn">학교</button>
                    <button type="button" value="4" onclick="addValue(this, this.value)" class="category-btn">동료</button>
                    <button type="button" value="5" onclick="addValue(this, this.value)" class="category-btn">반려동물</button>
                    <input type="button" value="조회" onclick="submitForm()"/>
                </form>
            </div>
            <div class="modal-photo-greed-container">
                <div class="modal-row">
                    <div th:each="post : ${posts}" class="photo-div" th:data-post-id="${post.post_id}">
<!--                        <img src="../../document/img/home-post-photo.jpg" />-->
                        <img th:src="${post.src_url}" width="138px" height="180px" />
                        <p th:text="${post.nickname}"></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- 여기서부터 모달 -->
        <div class="modal-bg">
            <div class="post-modal">
                <div class="post-modal-top">
                    <div class="etc-dropdown">
                        <img
                                src="../../document/img/etc.png"
                                height="25px"
                                alt="etc이미지"
                                class="etc-img"
                        />
                        <div class="dropdown-content">
                            <span class="post-report-btn" style="color: red">신고</span>
                            <span class="post-edit-btn">수정</span>
                            <span class="post-delete-btn">삭제</span>
                        </div>
                    </div>
                    <button
                            class="post-modal-close-btn"
                            style="
              background-color: rgba(0, 0, 0, 0);
              border: none;
              font-size: 40px;
              color: grey;
              cursor: pointer;
            "
                    >
                        &times;
                    </button>
                </div>
                <!-- post modal content -->
                <div class="post-modal-content" style="display: flex">
                    <!-- post modal 왼쪽 -->
                    <div class="post-modal-left">
                        <div style="margin: 0 32px 20px 32px">
                            <div style="margin-bottom: 15px">
                                <button id="priTheme" class="category-btn active"></button>
                                <button id="subTheme" class="category-btn active"></button>
                                <button id="companion" class="category-btn active"></button>
                            </div>
                            <p id="missionContent" style="font-size: 24px; font-weight: bold">
                            </p>
                        </div>

                        <div class="post-modal-board-img">
                            <span class="arrow arrow-left hidden">&lt;</span>
                            <img
                                    src="../../document/img/home-post-photo.jpg"
                                    alt="게시물이미지"
                                    class="modal-image"
                            />
                            <img
                                    src="../../document/img/home-post-photo.jpg"
                                    alt="게시물이미지"
                                    class="modal-image"
                            />
                            <img
                                    src="../../document/img/home-post-photo.jpg"
                                    alt="게시물이미지"
                                    class="modal-image"
                            />
                            <span class="arrow arrow-right">&gt;</span>
                        </div>

                        <div class="post-modal-user-info">
                            <div class="post-modal-profile">
                                <img
                                        src="../../document/img/stone.jpg"
                                        alt="프로필이미지"
                                        width="35px"
                                        height="35px"
                                        style="border-radius: 50%"
                                />
                                <p id="nickname"></p>
                            </div>
                            <div class="post-modal-like-box">
                                <p id="likeCount"></p>
                                <img
                                        src="../../document/img/heart.png"
                                        alt="좋아요"
                                        width="30px"
                                        height="30px"
                                        class="post-like-btn"
                                        style="cursor: pointer"
                                />
                            </div>
                        </div>

                        <!-- ================================== -->
                    </div>

                    <!-- post modal 오른쪽 -->
                    <div class="post-modal-right">
                        <div class="post-modal-right-info">
                            <p id="writtenDate"></p>
                            <img
                                    id="emotionImg"
                                    src="../../document/img/colored_happy.png"
                                    alt="감정이미지"
                                    width="25px"
                                    height="25px"
                                    style="border-radius: 50%"
                            />
                        </div>
                        <div id="content"></div>
                    </div>
                    <!-- post modal content 끝 -->
                </div>
            </div>
        </div>

        <!-- 신고 모달 -->
        <div class="report-modal-bg">
            <div class="report-modal">
                <div class="report-modal-top">
                </div>
                <div class="report-modal-content">
                    <form id="reportForm" action="/post/report" method="post">
                        <label for="editMissionContent">신고 내용:</label>
                        <textarea id="editMissionContent" name="missionContent"></textarea>
                        <input type="hidden" id="editPostId" name="postId">
                        <button type="submit">신고</button>
                        <button type="button" class="report-modal-close-btn">취소</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- 신고 모달 끝 -->

    </div>
</main>

<div th:replace="~{/fragments/mainFooter :: footer}"></div>

<script src="../../document/js/allviewModal.js"></script>
</body>
</html>
