<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MeMissionLog</title>
    <!-- css 초기화 -->
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
    />
    <!-- 전체 레이아웃 css -->
    <link
            href="../../document/css/layout.css"
            rel="stylesheet"
    />
    <link
            href="../../document/css/searchbar.css"
            rel="stylesheet"
    />
    <link
            href="../../document/css/postview.css"
            rel="stylesheet"
    />

    <!-- sweetalert2 -->
    <link
            href="
    https://cdn.jsdelivr.net/npm/sweetalert2@11.12.2/dist/sweetalert2.min.css
    "
            rel="stylesheet"
    />
    <script src="
    https://cdn.jsdelivr.net/npm/sweetalert2@11.12.2/dist/sweetalert2.all.min.js
    "></script>

    <!-- animate -->
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
</head>
<body>
<div th:replace="~{fragments/mainHeader :: header}"></div>
<main>
    <div class="content">
        <div class="modal-container">
            <!--            <div class="modal-function">-->
            <!--                <button class="modal-close-btn">&times;</button>-->
            <!--            </div>-->
            <div class="modal-mission-container">
                <img
                        class="modal-mission-img"
                        th:src="${bannerInfo.src_url != null ? bannerInfo.src_url : '/document/img/banner.jpg'}"
                />
                <div th:text="${formattedDate}"></div>
                <div th:text="${bannerInfo.mission_content}">미션</div>
            </div>
            <div class="modal-mission-filter-container">
                <form id="companionForm" action="/post/bymission" method="get" class="category-box">
                    <span class="category-title">누구와</span>
                    <input type="hidden" id="companionType" name="type"/>
                    <input type="hidden" id="date" name="date" th:value="${date}"/>
                    <button type="button" value="1" onclick="addValue(this, this.value)" class="category-btn">친구</button>
                    <button type="button" value="2" onclick="addValue(this, this.value)" class="category-btn">가족</button>
                    <button type="button" value="3" onclick="addValue(this, this.value)" class="category-btn">학교</button>
                    <button type="button" value="4" onclick="addValue(this, this.value)" class="category-btn">동료</button>
                    <button type="button" value="5" onclick="addValue(this, this.value)" class="category-btn">반려동물</button>
                    <button type="button" onclick="submitForm()" class="searchBtn"></button>
                </form>
            </div>
            <div class="modal-photo-greed-container">
                <div class="modal-row">
                    <div th:each="post : ${posts}" class="photo-div" th:data-post-id="${post.post_id}">
                        <!--                        <img src="../../document/img/home-post-photo.jpg" />-->
                        <img th:src="${post.src_url}" width="138px" height="180px" />
                        <p th:text="${post.nickname}"></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- 여기서부터 모달 -->
        <div class="modal-bg">
            <div class="post-modal">
                <div class="post-modal-top">
                    <div class="etc-dropdown">
                        <img
                                src="../../document/img/etc.png"
                                height="25px"
                                alt="etc이미지"
                                class="etc-img"
                        />
                        <div class="dropdown-content">
                            <span class="post-report-btn" style="color: red">신고</span>
                            <span class="post-edit-btn">수정</span>
                            <span class="post-delete-btn">삭제</span>
                        </div>
                    </div>
                    <button
                            class="post-modal-close-btn"
                            style="
              background-color: rgba(0, 0, 0, 0);
              border: none;
              font-size: 40px;
              color: grey;
              cursor: pointer;
            "
                    >
                        &times;
                    </button>
                </div>
                <!-- post modal content -->
                <div class="post-modal-content" style="display: flex">
                    <!-- post modal 왼쪽 -->
                    <div class="post-modal-left">
                        <div style="margin: 0 32px 20px 32px">
                            <div style="margin-bottom: 15px">
                                <button id="priTheme" class="category-btn active"></button>
                                <button id="subTheme" class="category-btn active"></button>
                                <button id="companion" class="category-btn active"></button>
                            </div>
                            <p id="missionContent" style="font-size: 32px; font-weight: 500">
                            </p>
                        </div>

                        <div class="post-modal-board-img">
                            <span class="arrow arrow-left hidden">&lt;</span>
                            <!-- 여기에 포스트 이미지 -->
                            <span class="arrow arrow-right">&gt;</span>
                        </div>

                        <div class="post-modal-user-info">
                            <div class="post-modal-profile">
                                <img
                                        id="profileImg"
                                        alt="프로필이미지"
                                        width="50px"
                                        height="50px"
                                        style="border-radius: 50%; overflow: hidden; object-fit: cover"
                                />
                                <p id="nickname"></p>
                            </div>
                            <div class="post-modal-like-box">
                                <p id="likeCount"></p>
                                <img
                                        src="../../document/img/heart.png"
                                        alt="좋아요"
                                        width="30px"
                                        height="30px"
                                        class="post-like-btn"
                                        style="cursor: pointer"
                                />
                            </div>
                        </div>

                        <!-- ================================== -->
                    </div>

                    <!-- post modal 오른쪽 -->
                    <div class="post-modal-right">
                        <div class="post-modal-right-info">
                            <p id="writtenDate"></p>
                            <img
                                    id="emotionImg"
                                    src=""
                                    alt="감정이미지"
                                    width="30px"
                                    height="30px"
                                    style="border-radius: 50%"
                            />
                        </div>
                        <div id="content"></div>
                    </div>
                    <!-- post modal content 끝 -->
                </div>
            </div>
        </div>

        <!-- 신고 모달 -->
        <div class="report-modal-bg">
            <div class="report-modal">
                <div class="report-modal-content" style="width: 300px">
                    <form id="reportForm" action="/post/report" method="post">
                        <div class="repCate-box" style="height: 50px">
                            <label for="reportCategory">신고 분류</label>
                            <select id="reportCategory" name="rptCategoryId">
                                <option th:each="repCate: ${reportCategory}" th:text="${repCate.category_name}" th:value="${repCate.rpt_category_id}"></option>
                            </select>
                        </div>
                        <div class="repContent-box" style="height: 95px">
                            <label for="reportMissionContent">상세 내용</label>
                            <textarea id="reportMissionContent" name="rptContent" placeholder="상세한 신고 사유를 입력해주세요."></textarea>
                        </div>
                        <input type="hidden" id="reportPostId" name="postId"/>
                        <input type="hidden" id="reportedUserId" name="rptedUserId"/>
                        <div class="repBtn-box" style="padding: 0 90px">
                            <button type="submit" style="color: white; background: black">신고</button>
                            <button type="button" class="report-modal-close-btn" style="color: black; background: white">취소</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- 신고 모달 끝 -->

    </div>
</main>

<div th:replace="~{fragments/mainFooter :: footer}"></div>

<script src="../../document/js/allviewModal.js"></script>
</body>
</html>