<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>조건 게시물</h1>
<table>
    <tr>
        <th>미션 아이디</th>
        <th>미션 제목</th>
        <th>미션 날짜</th>
        <th>메인 테마</th>
        <th>서브 테마</th>
    </tr>
    <tr th:each="temaMission:${temaMissionList}">
        <th th:text="${temaMission.id}" />
        <th th:text="${temaMission.title}" />
        <th th:text="${temaMission.date}" />
        <th th:text="${temaMission.mainThema}" />
        <th th:text="${temaMission.subThema}" />
    </tr>
</table>
</body>
</html>