<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="application.properties"/>
    <typeAliases>
        <typeAlias type="com.banbanmoomani.memilog" alias="mapper"/>
    </typeAliases>
    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${SPRING_DATASOURCE_DRIVER}"/>
                <property name="url" value="${SPRING_DATASOURCE_URL}"/>
                <property name="username" value="${SPRING_DATASOURCE_USERNAME}"/>
                <property name="password" value="${SPRING_DATASOURCE_PASSWORD}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mapper/black-list-mapper.xml"/>
        <mapper resource="mapper/user-mapper.xml"/>
    </mappers>
</configuration>