<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Me Mission Log</title>
    <link href="../../static/document/css/forgot.css" th:href="@{/document/css/forgot.css}" rel="stylesheet" />
    <link href="../../static/document/css/layout.css" th:href="@{/document/css/layout.css}" rel="stylesheet" />
</head>
<body>
<div class="container">
    <div th:replace="~{/fragments/mainHeader :: header}"></div>
    <div class="middle-container">
        <div class="form">
            <div class="tab-container">
                <div class="active" id="email-tab">아이디 찾기</div>
                <div id="password-tab">비밀번호 찾기</div>
            </div>
            <div id="email-content" class="tab-content active">
                <form id="email-form" class="email-form">
                    <div class="input-container">
                        <label for="email">이메일</label>
                        <input name="id_email" type="text" id="email" placeholder="이메일을 입력하세요." />
                        <div id="error-message" class="message"></div>
                    </div>
                    <div class="submit-btn-container">
                        <button type="button" onclick="validateForm()">아이디 찾기</button>
                    </div>
                </form>
            </div>
            <div id="password-content" class="tab-content">
                <form id="password-form" class="password-form">
                    <div class="input-container">
                        <label for="email-verification">이메일</label>
                        <div class="input-wrapper">
                            <input name="email" type="text" id="email-verification" placeholder="이메일 주소를 입력해주세요." />
                            <button type="button" class="check-btn" onclick="requestVerification()">인증요청</button>
                        </div>
                        <div id="error-message-email-verification" class="message"></div>
                    </div>
                    <div class="input-container">
                        <label for="verification-code">인증 코드</label>
                        <div class="input-wrapper">
                            <input name="verify_code" type="text" id="verification-code" placeholder="인증 코드 6자를 입력하세요." />
                            <button type="button" class="check-btn" onclick="validateVerificationCode()">확인</button>
                        </div>
                        <div id="error-message-verification-code" class="message"></div>
                    </div>
                    <div class="submit-btn-container1">
                        <button type="button">비밀번호 찾기</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div th:replace="~{/fragments/mainFooter :: footer}"></div>
</div>
<div id="modal" class="modal">
    <div class="modal-content">
        <span class="close-btn" onclick="closeModal()">&times;</span>
        <p id="modal-title" class="modal-title"></p>
        <p id="modal-message" class="modal-message"></p>
        <button id="modal-btn" class="modal-btn" onclick="startLogin()">로그인 시작하기</button>
    </div>
</div>
<script src="../../static/document/js/forgot_password.js" th:src="@{/document/js/forgot_password.js}"></script>
</body>
</html>
