<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" th:href="@{/document/css/login.css}">
    <link rel="stylesheet" th:href="@{/document/css/layout.css}">
</head>
<body>
<div th:replace="~{/fragments/mainHeader :: header}"></div>
<div class="container">
    <div class="middle-container">
        <div class="form-container">
            <h1>로그인</h1>
            <form th:action="@{/user/login}" method="post">
                <div class="input-group">
                    <input name="email" type="text" id="email" placeholder="이메일을 입력하세요." />
                </div>
                <div class="input-group">
                    <input name="password" type="password" id="password" placeholder="비밀번호를 입력하세요." />
                </div>
                <div class="caption">
                    <a th:href="@{/user/forgot}">이메일 | 비밀번호 찾기</a>
                </div>
                <div class="input-group">
                    <div class="btn-1">
                        <button type="submit" id="btn1">로그인</button>
                    </div>
                    <div class="btn-2">
                        <button type="button" id="btn2" th:onclick="|window.location.href='@{/user/signup}'|">회원가입</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:replace="~{/fragments/mainFooter :: footer}"></div>
<script>
    var failMessage=`[[${failMessage}]]`;
    if(failMessage) alert(failMessage);
</script>
<!--<script src="../../static/document/js/login.js" th:src="@{/document/js/login.js}"></script>-->
</body>
</html>
