/* .search-box {
  display: flex;
  width: 100%;
  border: 1px solid black;
  border-radius: 20px;
  height: 2.2rem;
  align-items: center;
  padding: 2%;
} */

.filter-toggle {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  margin: 1.5vh 1vh;
}

.filter-toggle-btn {
  width: 50px;
  display: flex;
  justify-content: space-between;
}

.filter-box {
  display: none;
  width: 100%;
}

.category {
  margin: 1rem 0;
}

.category-title {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.category-btn {
  border: 1px solid black;
  cursor: pointer;
  padding: 0.2rem 0.3rem;
  background: white;
  border-radius: 10px;
}

.category-btn:hover {
  background-color: gray;
}

.category-btn.active {
  background-color: black;
  color: white;
}

.category-result-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-search {
  padding: 0.4rem 0.6rem;
  margin: 0 10px;
  color: white;
  background: black;
  box-shadow: 6px 7px 4px 0px rgba(0, 0, 0, 0.25);
  font-weight: bold;
}

.category-reset {
  border: none;
  background: none;
  color: #878787;
  font-weight: bold;
}

/* 모달 부분 */
.modal-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* 모달 내용 부분 */
.modal-content {
  position: relative;
  background: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 400px;
  text-align: center;
}

.modal-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25px;
}

.modal-btn > span {
  font-weight: bold;
  cursor: pointer;
}

/* .close-btn {
  position: absolute;
  top: 0rem;
  right: 1rem;
  cursor: pointer;
  font-size: 2rem;
} */

.modal-content-title {
  font-weight: bold;
  font-size: 1.5rem;
}

.modal-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 6px 0;
}

.modal-profile,
.modal-log-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-profile {
  width: 90px;
}

.modal-log-details {
  width: 120px;
}

.modal-log-details > p {
  font-size: 12px;
}

.modal-profile > img,
.modal-log-details > img {
  border-radius: 50%;
}

.modal-board-img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 40px;
}

.modal-board-img > img {
  width: 90%;
  height: 195px;
  margin: 0 auto;
  border-radius: 1%;
}

.modal-board-content {
  margin: 10px 0;
  /* text-align: -webkit-auto; */
  text-align: start;
}

.modal-category-box {
  margin: 10px 0;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.arrow-left {
  left: 0px;
}

.arrow-right {
  right: 0px;
}

.hidden {
  display: none;
}

.modal-footer {
  margin: 10px 0;
}

.board-submit-btn {
  padding: 10px 20px;
  background: #61adff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.board-submit-btn:hover {
  background: #0056b3;
}

.board-delete-btn {
  padding: 10px 20px;
  background: #ff7878;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.board-delete-btn:hover {
  background-color: #db4455;
}

/* .modal-footer > button {
    background: none;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid;
    border-radius: 7px;
  } */
