<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header Fragment</title>
    <link rel="stylesheet" href="../../document/css/layout.css" />
</head>
<body>
<div th:fragment="header" class="header">
    <a class="logo">Me Mission Log</a>
    <div class="menu-bar">
        <a class="menu-btn" th:href="@{/main/allview}">둘러보기</a>
        <a class="menu-btn" th:href="@{/main/post}">오늘일기</a>
        <a class="menu-btn" th:href="@{/main/mydiary}">마이다이어리</a>
        <button class="login-btn" th:onclick="'location.href=' + @{/user/login}">로그인</button>
    </div>
</div>
</body>
</html>
