/* 카테고리 */
/* 테마 */
.category-box {
  margin: 20px auto;
}

.category-title {
  font-weight: 600;
  font-family: "Gowun Batang";
  font-size: larger;
  margin: 0 10px;
}

.category-btn {
  position: relative;
  border: 1px solid black;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  background: white;
  border-radius: 10px;
  margin-right: 3px;
  font-size: large;
  font-family: "Gowun Batang";
}

.cancel-btn {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: white;
  color: black;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  cursor: pointer;
}

.category-btn:hover {
  background-color: gray;
}

.category-btn.active {
  background-color: black;
  color: white;
}

.category-result-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-search {
  padding: 0.4rem 0.6rem;
  margin: 0 10px;
  color: white;
  background: black;
  box-shadow: 6px 7px 4px 0px rgba(0, 0, 0, 0.25);
  font-weight: bold;
}

.category-reset {
  border: none;
  background: none;
  color: #878787;
  font-weight: bold;
}
/* ========================================================= */

/* missionPost(메모지) */
.note-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px 80px;
  justify-content: center;
  font-family: "Yeon Sung";
  font-size: larger;
  line-height: 32.0px;
}

.note {
  width: 280px;
  height: 210px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.masking-tape {
  width: 80px;
  height: 16px;
  position: absolute;
  top: -8px;
  left: 100px;
  transform: rotate(-10deg);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-btn {
  margin: 0 5px;
  padding: 10px 15px;
  border: 1px solid #ddd;
  cursor: pointer;
}

.page-btn.active {
  background-color: #ddd;
}

/* ========================================================= */

