.middle-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-bottom: 120px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 600px;
}

.form-container h1 {
    font-size: 2rem;
    font-family: "Gowun Batang";
    font-weight: 700;
    margin-bottom: 4rem;
    margin-left: 60px;
}

.form-container form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.input-container {
    margin-left: 103px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 1.5rem;
}

.input-container label {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: "Gowun Batang";
}

.input-container input {
    width: 306px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.input-container .check-btn {
    margin-left: 10px;
    width: 90px;
    height: 46px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}
.input-wrapper {
    display: flex;
    align-items: flex-end;
}

.submit-btn-container {
    margin: 129px 0 0 45px;
}

.submit-btn-container1 button {
    padding: 10px 60px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.0rem;
    font-family: "Gowun Batang";
    margin-left: 103px;
    width: 220px;
}

.submit-btn-container button {
    padding: 10px 60px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.0rem;
    font-family: "Gowun Batang";
    width: 220px;
}

.submit-btn-container button:hover {
    background-color: #333;
}

.input-group label {
    font-size: 0.9rem;
    font-family: "Gowun Batang";
    font-weight: 700;
    min-width: 100px;
}

.input-group input,
.input-group select,
.input-group button {
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 15px;
    font-size: 1rem;
    flex-grow: 1;
}

.input-group input[type="text"],
.input-group input[type="password"] {
    width: calc(100% - 100px);
}

.input-group .email-container {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex-grow: 1;
    position: relative;
}

.check-btn {
    flex-shrink: 0;
    margin-left: 10px;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-family: "Gowun Batang";
}

.submit-btn {
    padding: 1rem;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 50px;
    font-size: 1.2rem;
    font-family: "Gowun Batang";
    font-weight: 500;
    cursor: pointer;
    margin: 40px 0 40px 100px;
    width: 100%;
    max-width: 500px;
}

input::placeholder {
    font-family: "Gowun Batang";
    font-size: 1rem;
}

.footer {
    padding: 10px;
    margin-top: 40px;
    text-align: center;
    color: black;
    border-top: 1px solid #ccc;
    flex-shrink: 0;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 575px;
    height: 365px;
    min-width: 300px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


.email-form {
    margin: 0 auto;
    margin-top: 60px;
    width: 90%;
    display: flex;
    flex-direction: column;
}


.password-form {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.tab-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-family: "Gowun Batang";
    font-size: larger;
}

.tab-container div {
    flex: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
}

.tab-container .active {
    font-weight: bold;
    border-bottom: 2px solid black;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.message {
    display: none;
    font-size: 0.75rem;
    text-align: left;
}

.message.error {
    color: red;
}

.message.success {
    color: blue;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #888;
    width: 435px;
    height: 310px;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
}


.close-btn {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 30px;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-title {
    display: flex;
    flex-direction: column-reverse;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.modal-message {
    margin-bottom: 20px;
}

.modal-btn {
    width: 300px;
    margin: 0 auto;
    padding: 13px;
    background-color: #000;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.modal-btn:hover {
    background-color: #333;
}
