@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');

.container {
}

.middle-container{
    text-align: center;
}

.search-bar-container {
    margin-top: 130px;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    width: 600px;
    border: solid 1px;
    border-radius: 40px;
    padding: 10px;
}


.search-bar-container > form > input {
    border: none;
    background: none;
    outline: none;
    float: left;
    font-size: 16px;
    line-height: 40px;
    width: 0px;
    transition: 0.4s;
    padding: 0 12px;
    width: 500px;
}

.search-bar-container > form > button {
    background-color: white;
    float: right;
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    justify-self: center;
    align-items: center;
    transition: 0.4s;
    padding-left: 3px;
}

.mission-container {
    text-align: center;
    vertical-align: middle;
}

.mission-container .mission-img {
    margin-top: 30px;
    width: 90vw; height: 200px;
}

.mission-container div:nth-of-type(1) {
    left: 11%; 
    top: 240px; 
    position: absolute; 
    color: white; 
    font-size: 1.2rem; 
    font-family: "Yeon Sung"; 
    font-weight: 400; 
    line-height: 36px; 
    word-wrap: break-word
}

.mission-container div:nth-of-type(2) {
    width: 50%; 
    left: 25%; 
    top: 290px; 
    position: absolute; 
    text-align: center; 
    color: white; 
    font-size: 3rem; 
    font-family: "Yeon Sung"; 
    font-weight: 400; 
    word-wrap: break-word
}

.mission-container > button {
    font-family: "Yeon Sung";
    font-size: 16px;
    width: 120px;
    position: absolute;
    background: white;
    border-radius: 20px;
    right: 120px;
    top: 380px;
}

.today-container {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.today-container .today-label {
    padding: 1vw 1vw 0 1vw;
    display: flex;
    flex-direction: row;
    width: 82vw;
    margin: auto;
}

.today-container .today-label p{
    text-align: left;
    margin-left: 5px;
    flex-grow: 1;
    margin-top: 1vh;
    font-family: "Yeon Sung";
}

.today-container .today-label button{
    border-radius: 20px;
    background-color: white;
    height: 40px;
    font-family: "Yeon Sung";
}

.today-container .today-photo-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1vw;
    height: 200px;
}

.today-container .today-photo-container > img {
    height: 20px;
}

.photo-div {
    transition: opacity 0.5s ease-in-out;
    background: #F7F7F7;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
    padding: 5px;
    border: 1px rgba(0, 0, 0, 0.15);
    height: 200px;
    width: 138px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.photo-div.hidden {
    opacity: 0;
}
.photo-div.visible {
    opacity: 1;
}
.photo-div img {
    width: 100%;
    height: auto;
    object-fit: cover;
    flex-grow: 1;
}
.arrow-button {
    background: none;
    border: none;
    cursor: pointer;
}
.photo-div p {
    margin: 0;
    padding: 5px 0;
    color: black;
    font-size: 12px;
    font-family: "Yeon Sung";
    font-weight: 400;
    line-height: 18px;
    word-wrap: break-word;
    text-align: center;
    width: 100%;
}


.random-container {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.random-container .random-label {
    padding: 1vw;
    display: flex;
    flex-direction: row;
    width: 82vw;
    margin: auto;
}

.random-container .random-label p {
    text-align: left;
    margin-left: 5px;
    flex-grow: 1;
    margin-top: 1vh;
    font-family: "Yeon Sung";
}

.random-container .random-photo-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1vw;
    height: 150px;
}

.random-container .random-photo-container > img {
    height: 20px;
}

.modal-bg{
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
}

.modal-container{
    position: relative;
    width: 1010px;
    height: 850px;
    margin: auto;
    background-color: #fefefe;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    text-align: center;
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track-piece {
    background-color: white;
}
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgb(165, 165, 165);
  }

.modal-container .modal-function button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width: 50px;
    height: 50px;
    font-size: 40px;
    color: grey;
    float: right;
}

.modal-mission-container {
    margin-top: 70px;
    margin-bottom: 20px;
    text-align: center;
    vertical-align: middle;
}

.modal-mission-container .modal-mission-img {
    margin-left: 95px;
    margin-right: 95px;
    width: 800px; height: 200px;
}

.modal-mission-container div:nth-of-type(1) {
    left: 130px;
    top: 70px;
    position: absolute;
    color: white;
    font-size: 1.2rem;
    font-family: "Yeon Sung";
    font-weight: 400;
    line-height: 36px;
    word-wrap: break-word
}

.modal-mission-container div:nth-of-type(2) {
    width: 50%;
    left: 25%;
    top: 130px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 3rem;
    font-family: "Yeon Sung";
    font-weight: 400;
    word-wrap: break-word
}

.category-box {
    margin: 0;
}

.category-title {
    font-weight: bold;
    margin: 0 10px;
}

.category-btn {
    position: relative;
    border: 1px solid black;
    cursor: pointer;
    padding: 0.25rem 0.5rem;
    background: white;
    border-radius: 10px;
    margin: 0 3px;
}

.cancel-btn {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: white;
    color: black;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
}

.category-btn:hover {
    background-color: gray;
}

.category-btn.active {
    background-color: black;
    color: white;
}

.category-result-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-search {
    padding: 0.4rem 0.6rem;
    margin: 0 10px;
    color: white;
    background: black;
    box-shadow: 6px 7px 4px 0px rgba(0, 0, 0, 0.25);
    font-weight: bold;
}

.category-reset {
    border: none;
    background: none;
    color: #878787;
    font-weight: bold;
}

.modal-photo-greed-container {
    padding: 20px;
}

.modal-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
}