.user-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.user-profile {
    text-align: center;
    width: 280px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 120px;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.user-profile img {
    width: 240px;
    height: 160px;
    border-radius: 10px;
    object-fit: cover;
    overflow: hidden;
}

.user-profile p {
    margin-top: 10px;
    position: absolute;
    bottom: 15px;
    left: 20px;
    font-size: 20px;
}

.user-profile img:last-child {
    position: absolute;
    bottom: 15px;
    right: 20px;
    width: 30px;
    height: 30px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    border-radius: 10px;
    text-align: center;
}

#deleteModal .modal-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#deleteModal .modal-content p {
    text-align: center;
}

#deleteModal .modal-content form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#deleteModal .modal-content input {
    text-align: center;
    width: 80%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

#deleteModal .form-footer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

#deleteModal .form-footer button {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    background-color: #000;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#deleteModal .form-footer button:hover {
    background-color: #333;
}

#deleteModal .close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

#deleteModal .close:hover,
#deleteModal .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-content h2 {
    text-align: center;
    margin-bottom: 20px;
}

.modal-content p {
    text-align: left;
    margin-left: 20px;
    line-height: 2.0;
}

.modal-content input {
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.settings-icon {
    cursor: pointer;
}

.modal-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-left {
    margin-left: 20px;
    text-align: left;
    flex: 1;
}

.modal-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-pic {
    width: auto;
    max-width: 300px;
    height: 150px;
    overflow: hidden;
    object-fit: cover;
}

.profile-pic-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.change-profile-button {
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #000;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.change-profile-button:hover {
    background-color: #333;
}

.modal-footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.modal-footer button {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    background-color: #000;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.modal-footer button:hover {
    background-color: #333;
}

.form-footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.form-footer button {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    background-color: #000;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-footer button:hover {
    background-color: #333;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 400px;
    margin: 0 30px;
}

.form-group {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin-bottom: 10px;
}

.form-group label {
    width: 40%;
    text-align: left;
}

.form-group input, input {
    width: 60%;
    max-width: 150px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.total-mood, .user-mood-chart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    text-align: center;
    margin-bottom: 20px;
}

.total-mood canvas, .user-mood-chart canvas {
    width: 100%;
    height: 100%;
}

.legend-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 20px;
}

.legend-image {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.color-box {
    width: 30px;
    height: 10px;
    border: 2px solid black;
    margin-right: 5px;
}

.legend-container {
    display: flex;
    justify-content: center;
}

.posts {
    display: flex;
    margin: 0 auto 80px;
    width: 1300px;
    justify-content: center;
}

.posts .mydiary-menu-bar {
    float: left;
    background-color: #f1f1f1;
    width: 180px;
    height: 120px;
    display: flex;
    flex-direction: column;
}

.posts .mydiary-menu-bar button {
    display: block;
    background-color: inherit;
    color: #000;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    font-size: large;
    cursor: pointer;
    transition: 0.3s;
}

.posts .mydiary-menu-bar button:hover {
    background-color: #ddd;
}

.posts .mydiary-menu-bar button.active{
    background-color: #ccc;
}

.posts #post-card-container {
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 1000px;
    height: 400px;
    overflow-y: auto;
}

.posts .tabcontent{
    display: none;
    width: 1000px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.posts .post-card {
    box-sizing: border-box;
    width: 190px;
    height: 175px;
    border: #000 1px solid;
    background-image: url("../img/film_frame.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    margin: 10px 0;
}

.posts .post-card img {
    width: 180px;
    height: 120px;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    overflow: hidden;
}

.posts #calendar-container {
    display: flex;
    justify-content: flex-start;
    width: 1000px;
    padding-top: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
    overflow: hidden;
}

.date-selector {
    width: 50px;
    height: 360px;
    overflow-y: scroll;
    margin-left: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    flex-shrink: 0;
    text-align: center;
}

.date-selector ul {
    list-style: none;
    padding: 0;
    margin: 10px;
}

.date-selector ul li {
    padding: 10px 0;
}

.date-selector ul li:hover {
    background-color: #ddd;
}

.posts .calendar-contents {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    width: calc(100% - 70px);
}

.posts .calendar-card {
    box-sizing: border-box;
    width: 150px;
    height: 180px;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.calendar-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center bottom;
}
