body, html {
    margin: 0;
    padding: 0;
    font-family: "Gowun Batang";
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 120%;
}

.middle-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-bottom: 90px;
}

.verification-timer {
    font-size: 15px;
    display: none;

}
.input-group.email,
.input-group.password,
.input-group.check,
.input-group.name,
.input-group.age,
.input-group.nickname,
.input-group.birthday,
.input-group.email-code{
    margin-bottom: 15px;
}

.birthday-select {
    margin-right: 10px;
}

.birthday-select:last-child {
    margin-right: 0;
}


.input-group.no-margin {
    margin-bottom: 0 !important;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 600px;
}

.form-container h1 {
    font-family: "Gowun Batang";
    font-weight: 700;
    margin-bottom: 4rem;
}

.form-container form {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* gap: 1.5rem; */
}

.input-group {
    display: flex;
    align-items: center;
    margin-top: 3px;
}

.input-group label {
    font-size: 1.2rem;
    font-family: "Gowun Batang";
    font-weight: 700;
    min-width: 140px;
}

.input-group input,
.input-group select,
.input-group button {
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 15px;
    font-size: 1rem;
    flex-grow: 1;
    font-family: "Gowun Batang";
}

.input-group input[type="text"],
.input-group input[type="password"] {
    width: calc(100% - 100px);
}

.input-group .email-container {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-grow: 1;
    position: relative;
}

.email-container input,
.email-container select
.email-container small{
    flex-grow: 1;
}

.check-btn {
    width: 135px;
    padding: 1rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    flex-shrink: 0;
}

.verification-code-btn,
.verify-btn {
    width: auto;
    padding: 1rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    flex-shrink: 0;
    margin-top: 7px;
}

.duplicate-check-container {
    position: absolute;
    left: 75%;
}
.verification-message {
    font-size: 0.9em;
    margin-top: 5px;
    display: none;
}

.verification-message.success {
    color: blue;
}

.verification-message.error {
    color: red;
}


/* .verify-btn {
    margin-top: 30px;
} */

.verification-check {
    gap: 0.5rem;
    padding: 0;
    margin: 0;
    width: auto;
}

#verification-code {
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 15px;
    font-size: 1rem;
    flex-grow: 1;
    max-width: 250px;
    margin-left: auto;
}

.verification-input-group {
    display: flex;
    align-items: flex-end;
    margin-top: 3px;
    flex-shrink: 0;
}

.verification-buttons {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.5rem;
}
.verification-message {
    font-size: 0.9rem;
    font-family: 'Gowun Batang', sans-serif;
    color: blue;
    margin-left: auto;
    text-align: right;
    display: none;
}

.submit-btn {
    padding: 1rem;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 50px;
    font-size: 1.2rem;
    font-family: "Gowun Batang";
    font-weight: 500;
    cursor: pointer;
    margin: 40px auto 40px auto;
    width: 100%;
    max-width: 500px;
}

input::placeholder {
    font-family: "Gowun Batang";
    font-size: 1rem;
}