<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Me Mission Log</title>
    <link href="../css/home.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="header">
            <a class="logo">Me Mission Log</a>
            <div class="menu-bar">
                <a class="button">둘러보기</a>
                <a class="button">오늘의 일기</a>
                <a class="button">마이 다이어리</a>
                <button class="sign-in-btn">Sign In</button>
            </div>
        </div>
        <!-- 이 밑으로 작성 -->
        <div class="middle-container">
            <div class="search-bar-container">
                <form>
                    <input type="text">
                    <button type="submit"></button>
                </form>
            </div>
            <div class="mission-container">
                <img class="mission-img" src="https://via.placeholder.com/1200x200" />
                <div>6월 20일의 미션</div>
                <div>미미들이 생각하는 여름 낭만은?</div>
            </div>
            <div class="today-container">
                <div class="today-label">
                    <p>000,000명의 미미들의 오늘📷</p>
                    <button>나도 남기러 가기</button>
                </div>
                <div class="today-photo-container">
                    <img src="../img/home-left-arrow.png.png">
                    <div class="photo-div">
                        <img src="../img/home-post-photo.jpg">
                        <p>잠실2동 불주먹</p>
                    </div>
                    <div class="photo-div">
                        <img src="../img/home-post-photo.jpg">
                        <p>잠실2동 불주먹</p>
                    </div>
                    <div class="photo-div">
                        <img src="../img/home-post-photo.jpg">
                        <p>잠실2동 불주먹</p>
                    </div>
                    <div class="photo-div">
                        <img src="../img/home-post-photo.jpg">
                        <p>잠실2동 불주먹</p>
                    </div>
                    <div class="photo-div">
                        <img src="../img/home-post-photo.jpg">
                        <p>잠실2동 불주먹</p>
                    </div>
                    <div class="photo-div">
                        <img src="../img/home-post-photo.jpg">
                        <p>잠실2동 불주먹</p>
                    </div>
                    <div class="photo-div">
                        <img src="../img/home-post-photo.jpg">
                        <p>잠실2동 불주먹</p>
                    </div>
                    <div class="photo-div">
                        <img src="../img/home-post-photo.jpg">
                        <p>잠실2동 불주먹</p>
                    </div>
                    <img src="../img/home-right-arrow.png.png">
                </div>
            </div>
            <div class="random-container">
                <div class="random-label">
                    <p>미미로그 아카이브🍰</p>
                </div>
                <div class="random-photo-container">
                    <img src="../img/home-left-arrow.png.png">
                    <div class="photo-div">
                        <img src="../img/home-post-photo.jpg">
                        <p>잠실2동 불주먹</p>
                    </div>
                    <div class="photo-div">
                        <img src="../img/home-post-photo.jpg">
                        <p>잠실2동 불주먹</p>
                    </div>
                    <div class="photo-div">
                        <img src="../img/home-post-photo.jpg">
                        <p>잠실2동 불주먹</p>
                    </div>
                    <div class="photo-div">
                        <img src="../img/home-post-photo.jpg">
                        <p>잠실2동 불주먹</p>
                    </div>
                    <div class="photo-div">
                        <img src="../img/home-post-photo.jpg">
                        <p>잠실2동 불주먹</p>
                    </div>
                    <div class="photo-div">
                        <img src="../img/home-post-photo.jpg">
                        <p>잠실2동 불주먹</p>
                    </div>
                    <div class="photo-div">
                        <img src="../img/home-post-photo.jpg">
                        <p>잠실2동 불주먹</p>
                    </div>
                    <div class="photo-div">
                        <img src="../img/home-post-photo.jpg">
                        <p>잠실2동 불주먹</p>
                    </div>
                    <img src="../img/home-right-arrow.png.png">
                </div>
            </div>
        </div>
        <div class="footer">
            <p>CopyRight © Me Mission Log. All Rights Reserved.</p>
        </div>
        <img>
    </div>
</body>
</html>