<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Me Mission Log</title>
    <link href="/src/main/resources/css/mydiary.css" rel="stylesheet" />
</head>
<body>
<div class="container">
    <div class="header">
        <a class="logo">Me Mission Log</a>
        <div class="menu-bar">
            <a class="button">둘러보기</a>
            <a class="button">오늘의 일기</a>
            <a class="button">마이 다이어리</a>
            <button class="sign-in-btn">Log Out</button>
        </div>
    </div>

    <div class="user-container">
        <div class="user-profile">
            <img src="/src/main/resources/img/profile.jpeg" alt="Profile Picture">
            <p>돌멩이님</p>
            <img src="/src/main/resources/img/settings.png" alt="Settings Icon" class="settings-icon" onclick="openModal('userModal')">
        </div>

        <div id="userModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal('userModal')">&times;</span>
                <h2>회원 정보</h2>
                <div class="modal-body">
                    <div class="modal-left">
                        <p><strong>아이디:</strong> blip0819@gmail.com</p>
                        <p><strong>닉네임:</strong> 돌멩이님</p>
                        <p><strong>가입일:</strong> 2023-01-01</p>
                    </div>
                    <div class="modal-right">
                        <div class="profile-pic-container">
                            <img src="/src/main/resources/img/profile.jpeg" alt="Profile Picture" class="profile-pic">
                            <button class="change-profile-button" onclick="openModal('profilePicModal')">사진 수정</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button onclick="openModal('editModal')">정보 수정</button>
                    <button onclick="openModal('deleteModal')">회원 탈퇴</button>
                </div>
            </div>
        </div>

        <div id="editModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal('editModal')">&times;</span>
                <h2>정보 수정</h2>
                <form id="editForm">
                    <label for="nickname">닉네임:</label>
                    <input type="text" id="nickname" name="nickname" value="돌멩이님"><br><br>
                    <label for="password">비밀번호:</label>
                    <input type="password" id="password" name="password"><br><br>
                    <label for="password2">비밀번호 확인:</label>
                    <input type="password" id="password2" name="password"><br><br>
                    <div class="form-footer">
                        <button type="submit">수정</button>
                        <button type="button" onclick="closeModal('editModal')">취소</button>
                    </div>
                </form>
            </div>
        </div>

        <div id="profilePicModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal('profilePicModal')">&times;</span>
                <h2>프로필 사진 변경</h2>
                <form id="profilePicForm" onsubmit="return updateProfilePic(event)">
                    <input type="file" id="profilePic" name="profilePic"><br><br>
                    <div class="form-footer">
                        <button type="submit">업로드</button>
                        <button type="button" onclick="deleteProfilePic()">삭제</button>
                    </div>
                </form>
            </div>
        </div>
        
        <div id="deleteModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal('deleteModal')">&times;</span>
                <h2>회원 탈퇴</h2>
                <p>탈퇴 후 계정 복구가 불가합니다.<br>정말 탈퇴를 진행하시겠습니까?<br>탈퇴를 원하시면 비밀번호를 입력해주세요.</p>
                <form id="deleteForm">
                    <label for="deletePassword">비밀번호:</label>
                    <input type="password" id="deletePassword" name="deletePassword"><br><br>
                    <div class="form-footer">
                        <button type="submit">탈퇴</button>
                        <button type="button" onclick="closeModal('deleteModal')">취소</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="user-info">
            <div class="info-header">
                <strong>아이디</strong>
                <p class="email">blip0819@gmail.com</p>
            </div>

            <div class="total-mood">
                <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
                <canvas id="bar-chart-horizontal" height=240px></canvas>
            </div>
        </div>

        <div class="user-mood-chart">
            <p>Tracking My Mood</p>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
            <canvas id="line-chart"></canvas>
        </div>
    </div>

    <div class="posts">
        <div class="mydiary-menu-bar">
            <button class="tablinks" onclick="openPage(event, 'post-card-container')">모아보기</button>
            <button class="tablinks" onclick="openPage(event, 'calendar-container')">일자별 보기</button>
        </div>

        <div id="post-card-container" class="tabcontent" style="display: flex;">
            <div class="post-card">
                <img src="/src/main/resources/img/9A63EB15-3A92-4CB7-B950-0BF4A7EEE559.jpeg" alt="Post Image">
            </div>
            <div class="post-card">
                <img src="/src/main/resources/img/B71A7735-D579-4FDF-988B-9FF0AADB9261.jpeg" alt="Post Image">
            </div>
            <div class="post-card">
                <img src="/src/main/resources/img/0FB9A022-E77F-4365-AAFB-8824430ED386.jpeg" alt="Post Image">
            </div>
            <div class="post-card">
                <img src="/src/main/resources/img/5127F18A-E0DE-4D50-91EF-DBFAF5B0C4A1_1_105_c.jpeg" alt="Post Image">
            </div>
            <div class="post-card">
                <img src="/src/main/resources/img/A4F9DE11-C424-4B6F-808A-6A4129B17A90_1_201_a.jpeg" alt="Post Image">
            </div>
            <div class="post-card">
                <img src="/src/main/resources/img/2C706C0C-5837-44BB-99A4-70D79FC0035D.jpeg" alt="Post Image">
            </div>
            <div class="post-card">
                <img src="/src/main/resources/img/C424C20D-4ACE-46F5-A6E5-3DC9664D4858.jpeg" alt="Post Image">
            </div>
            <div class="post-card">
                <img src="/src/main/resources/img/37842708-F42D-425A-AB70-473F617E9B45_1_102_o.jpeg" alt="Post Image">
            </div>
            <div class="post-card">
                <img src="/src/main/resources/img/5C86A530-E7BA-4993-A475-AECBFEDBB514_1_201_a.jpeg" alt="Post Image">
            </div>
            <div class="post-card">
                <img src="/src/main/resources/img/E5CC5654-8AA3-4441-9633-03E543229E02_1_102_o.jpeg" alt="Post Image">
            </div>
            <div class="post-card">
                <img src="/src/main/resources/img/6BB8453D-5992-4530-8318-A3C7360702D7_1_105_c.jpeg" alt="Post Image">
            </div>
            <div class="post-card">
                <img src="/src/main/resources/img/ED439F5C-BC4C-415D-8FF4-5047095DF249.jpeg" alt="Post Image">
            </div>
            <div class="post-card">
                <img src="/src/main/resources/img/0FCF1AB4-9129-4A52-9624-2F6F5928234C.jpeg" alt="Post Image">
            </div>
        </div>

        <div id="calendar-container" class="tabcontent">
            <div class="date-selector">
                <ul>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>
                    <li>7</li>
                    <li>8</li>
                    <li>9</li>
                    <li>10</li>
                    <li>11</li>
                    <li>12</li>
                    <li>13</li>
                    <li>14</li>
                    <li>15</li>
                    <li>16</li>
                    <li>17</li>
                    <li>18</li>
                    <li>19</li>
                    <li>20</li>
                    <li>21</li>
                    <li>22</li>
                    <li>23</li>
                    <li>24</li>
                    <li>25</li>
                    <li>26</li>
                    <li>27</li>
                    <li>28</li>
                    <li>29</li>
                    <li>30</li>
                    <li>31</li>
                </ul>
            </div>

            <div class="calendar-contents">
                <div class="calendar-card">
                    <img src="/src/main/resources/img/0FCF1AB4-9129-4A52-9624-2F6F5928234C.jpeg" width=150px height=180px>
                </div>
                <div class="calendar-card">
                    <img src="/src/main/resources/img/0FCF1AB4-9129-4A52-9624-2F6F5928234C.jpeg" width=150px height=180px>
                </div>
                <div class="calendar-card">
                    <img src="/src/main/resources/img/0FCF1AB4-9129-4A52-9624-2F6F5928234C.jpeg" width=150px, height=180px>
                </div>
                <div class="calendar-card">
                    <img src="/src/main/resources/img/0FCF1AB4-9129-4A52-9624-2F6F5928234C.jpeg" width=150px, height=180px>
                </div>
                <div class="calendar-card">
                    <img src="/src/main/resources/img/0FCF1AB4-9129-4A52-9624-2F6F5928234C.jpeg" width=150px height=180px>
                </div>
                <div class="calendar-card">
                    <img src="/src/main/resources/img/0FCF1AB4-9129-4A52-9624-2F6F5928234C.jpeg" width=150px height=180px>
                </div>
                <div class="calendar-card">
                    <img src="/src/main/resources/img/0FCF1AB4-9129-4A52-9624-2F6F5928234C.jpeg" width=150px height=180px>
                </div>
                <div class="calendar-card">
                    <img src="/src/main/resources/img/0FCF1AB4-9129-4A52-9624-2F6F5928234C.jpeg" width=150px height=180px>
                </div>
                <div class="calendar-card">
                    <img src="/src/main/resources/img/0FCF1AB4-9129-4A52-9624-2F6F5928234C.jpeg" width=150px height=180px>
                </div>
                <div class="calendar-card">
                    <img src="/src/main/resources/img/0FCF1AB4-9129-4A52-9624-2F6F5928234C.jpeg" width=150px height=180px>
                </div>
                <div class="calendar-card">
                    <img src="/src/main/resources/img/0FCF1AB4-9129-4A52-9624-2F6F5928234C.jpeg" width=150px height=180px>
                </div>
                <div class="calendar-card">
                    <img src="/src/main/resources/img/0FCF1AB4-9129-4A52-9624-2F6F5928234C.jpeg" width=150px height=180px>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <p>CopyRight © Me Mission Log. All Rights Reserved.</p>
    </div>
</div>
<script>
        function openPage(evt, pageName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(pageName).style.display = "flex";
        evt.currentTarget.className += " active";
    }

    function openModal(modalId) {
        var modal = document.getElementById(modalId);
        if (modal) {
            modal.style.display = "block";
        } else {
            console.error(`Modal with ID '${modalId}' not found.`);
        }
    }

    function closeModal(modalId) {
        var modal = document.getElementById(modalId);
        if (modal) {
            modal.style.display = "none";
        } else {
            console.error(`Modal with ID '${modalId}' not found.`);
        }
    }

    function updateProfilePic(event) {
        event.preventDefault();

        var fileInput = document.getElementById('profilePic');
        var file = fileInput.files[0];
        var reader = new FileReader();

        reader.onload = function(e){
            document.querySelector(".profile-pic").src = e.target.result;
            closeModal('profilePicModal');
            alert("회원 정보 수정이 완료되었습니다.");
        }

        if(file){
            reader.readAsDataURL(file);
        } else {
            alert("파일을 선택해주세요.")
        }
        return false;
    }

    function deleteProfilePic() {
        document.querySelector('.profile-pic').src = '/src/main/resources/img/default_profile.png';
        alert("프로필 사진이 삭제되었습니다.");
        closeModal('profilePicModal')
    }

    window.onclick = function(event) {
        var modals = document.getElementsByClassName('modal');
        for (var i = 0; i < modals.length; i++) {
            if (event.target == modals[i]) {
                modals[i].style.display = "none";
            }
        }
    }

    document.getElementById('editForm').onsubmit = function(event) {
        event.preventDefault();
        alert("정보가 수정되었습니다.");
        closeModal('editModal');
    }

    document.getElementById('deleteForm').onsubmit = function(event) {
        event.preventDefault();
        alert("회원 탈퇴가 완료되었습니다.");
        closeModal('deleteModal');
        closeModal('userModal');
    }

document.addEventListener("DOMContentLoaded", function() {
    const firstTabLink = document.querySelector(".tablinks");
    if (firstTabLink) {
        firstTabLink.click();
    }

    new Chart(document.getElementById("bar-chart-horizontal"), {
        type: 'horizontalBar',
        data: {
            labels: ["😀", "😊", "😐", "😎", "😢"],
            datasets: [{
                label: "Emotions (total)",
                backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
                data: [25,62,39,43,58]
            }]
        },
        options: {
            legend: { display: false },
            layout: {
                padding: {
                    left: 10,
                    right: 10
                }
            },
            scales: {
                xAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }],
                yAxes: [{
                    barThickness: 20,
                    categoryPercentage: 0.8,
                    barPercentage: 0.8
                }]
            }
        }
    });

    new Chart(document.getElementById("line-chart"), {
        type: 'line',
        data: {
            labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
            datasets: [{
                data: [20, 18, 22, 25, 24, 26, 19, 21, 23, 17, 16, 20],
                label: "😀",
                borderColor: "#3e95cd",
                fill: false
            }, {
                data: [15, 17, 16, 10, 13, 14, 12, 19, 14, 15, 18, 10],
                label: "😊",
                borderColor: "#8e5ea2",
                fill: false
            }, {
                data: [30, 20, 18, 25, 20, 18, 24, 20, 20, 18, 21, 20],
                label: "😐",
                borderColor: "#3cba9f",
                fill: false
            }, {
                data: [10, 15, 20, 15, 18, 17, 15, 15, 15, 20, 15, 15],
                label: "😎",
                borderColor: "#e8c3b9",
                fill: false
            }, {
                data: [25, 30, 24, 25, 25, 25, 30, 25, 28, 30, 30, 35],
                label: "😢",
                borderColor: "#c45850",
                fill: false
            }]
        },
        options: {}
    });
});

</script>
</body>
</html>