<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Me Mission Log</title>
    <link href="../documentation/css/search.css" rel="stylesheet" />
</head>
<body>
<div class="container">
    <div class="header">
        <a class="logo">Me Mission Log</a>
        <div class="menu-bar">
            <a class="button">둘러보기</a>
            <a class="button">오늘의 일기</a>
            <a class="button">마이 다이어리</a>
            <button class="sign-in-btn">Sign Up</button>
        </div>
    </div>
    <div class="content">
        <div class="form">
            <div class="tab-container">
                <div class="active" id="email-tab">이메일 찾기</div>
                <div id="password-tab">비밀번호 찾기</div>
            </div>
            <div id="email-content" class="tab-content active">
                <form id="email-form">
                    <div class="input-container">
                        <label for="name">이름</label>
                        <input type="text" id="name" placeholder="이름을 입력하세요." />
                    </div>
                    <div class="input-container">
                        <label for="nickname">닉네임</label>
                        <input type="text" id="nickname" placeholder="닉네임을 입력하세요." />
                    </div>
                    <div class="submit-btn-container">
                        <div id="error-message">
                            존재하지 않는 사용자 정보입니다. 다시 확인해주세요.
                        </div>
                        <button type="button" onclick="validateForm()">이메일 찾기</button>
                    </div>
                </form>
            </div>
            <div id="password-content" class="tab-content">
                <form id="password-form">
                    <div class="input-container">
                        <label for="email">이메일</label>
                        <input type="text" id="email" placeholder="이메일을 입력하세요." />
                        <button type="button" class="check-btn">인증코드받기</button>
                    </div>
                    <div class="input-container">
                        <label for="verification-code">인증번호</label>
                        <input type="text" id="verification-code" placeholder="인증번호를 입력하세요." />
                    </div>
                    <div class="submit-btn-container">
                        <button type="button">비밀번호 찾기</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="../documentation/js/search.js"></script>
</body>
</html>
