<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.banbanmoomani.memilog.DAO.ChartMapper">

    <select id="getEmotionCounts" parameterType="map" resultType="map">
        SELECT emotion_id, COUNT(*) as count
          FROM POST
         WHERE user_id = #{user_id}
        <if test="emotion_ids != null and !emotion_ids.isEmpty()">
            AND emotion_id IN
            <foreach item="item" index="index" collection="emotion_ids" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        GROUP BY emotion_id
    </select>

    <select id="getMonthlyEmotionCounts" parameterType="map" resultType="map">
        SELECT  emotion_id
              , EXTRACT(MONTH FROM written_datetime) AS month
              , COUNT(*) as count
          FROM POST
         WHERE user_id = #{user_id}
        <if test="emotion_ids != null and !emotion_ids.isEmpty()">
            AND emotion_id IN
            <foreach item="item" index="index" collection="emotion_ids" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="months != null and !months.isEmpty()">
            AND EXTRACT(MONTH FROM written_datetime) IN
            <foreach item="item" index="index" collection="months" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        AND EXTRACT(YEAR FROM written_datetime) = YEAR(CURDATE())
        GROUP BY emotion_id, month
    </select>

</mapper>
