<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.banbanmoomani.memilog.DAO.DashBoardMapper">
    <select id="findLast10DaysMemberTrends" resultType="com.banbanmoomani.memilog.DTO.admin.dashboard.MemberTrendDTO">
        SELECT date, member_count
        FROM member_trends
        WHERE date >= DATE_SUB(CURDATE(), INTERVAL 10 DAY)
    </select>

    <select id="findLast10DaysVisitorTrends" resultType="com.banbanmoomani.memilog.DTO.admin.dashboard.VisitorTrendDTO">
        SELECT date, visitor_count
        FROM visitor_trends
        WHERE date >= DATE_SUB(CURDATE(), INTERVAL 10 DAY)
    </select>

    <select id="findLast10DaysPostTrends" resultType="com.banbanmoomani.memilog.DTO.admin.dashboard.PostTrendDTO">
        SELECT date, post_count
        FROM post_trends
        WHERE date >= DATE_SUB(CURDATE(), INTERVAL 10 DAY)
    </select>

    <select id="findAgeGroupMembers" resultType="com.banbanmoomani.memilog.DTO.admin.dashboard.AgeGroupMemberDTO">
        SELECT age_group, member_count
        FROM age_group_members
    </select>

    <select id="findTodayReportedPosts" resultType="com.banbanmoomani.memilog.DTO.admin.dashboard.ReportedPostDTO">
        SELECT report_id, reporter, reported_user, report_score
        FROM reported_posts
        WHERE report_date = CURDATE()
        LIMIT 5
    </select>
</mapper>