<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.banbanmoomani.memilog.DAO.DashBoardMapper">
    <select id="findLast10DaysMemberTrends" resultType="com.banbanmoomani.memilog.DTO.admin.dashboard.MemberTrendDTO">
        SELECT date, member_count
        FROM member_trends
        WHERE date >= DATE_SUB(CURDATE(), INTERVAL 10 DAY)
    </select>

    <select id="findLast10DaysVisitorTrends" resultType="com.banbanmoomani.memilog.DTO.admin.dashboard.VisitorTrendDTO">
        SELECT date, visitor_count
        FROM visitor_trends
        WHERE date >= DATE_SUB(CURDATE(), INTERVAL 10 DAY)
    </select>

    <select id="findLast10DaysPostTrends" resultType="com.banbanmoomani.memilog.DTO.admin.dashboard.PostTrendDTO">
        SELECT date, post_count
        FROM post_trends
        WHERE date >= DATE_SUB(CURDATE(), INTERVAL 10 DAY)
    </select>

    <select id="findAgeGroupMembers" resultType="com.banbanmoomani.memilog.DTO.admin.dashboard.AgeGroupMemberDTO">

    </select>

    <select id="getTodayReportCount" resultType="_int">
        SELECT COUNT(*) as count
        FROM REPORT r
        WHERE DATE(r.report_datetime) = CURDATE()
    </select>

    <select id="findTodayReportedPosts" resultType="com.banbanmoomani.memilog.DTO.admin.dashboard.ReportedPostDTO">
        SELECT
        p.post_id AS postId,
        ru.nickName AS reportedUserNickName,
        pu.nickName AS reporterUserNickName,
        p.report_count AS reportCount
        FROM REPORT r
        JOIN USER ru ON r.reported_user_id = ru.user_id
        JOIN USER pu ON r.reporter_user_id = pu.user_id
        JOIN POST p ON r.post_id = p.post_id
        WHERE DATE(r.report_datetime) = CURDATE()
        GROUP BY p.post_id, ru.nickName, pu.nickName
        LIMIT 5
    </select>
</mapper>