<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.banbanmoomani.memilog.DAO.EmotionMapper">
    <resultMap id="emotionResultMap" type="com.banbanmoomani.memilog.DTO.EmotionDTO">
        <id property="emotionId" column="emotion_id"/>
        <result property="emotionName" column="emotion_name"/>
    </resultMap>
    <select id="findEmotionById" parameterType="int" resultMap="emotionResultMap">
        SELECT emotion_id, emotion_name
        FROM EMOTION
        WHERE emotion_id = #{id}
    </select>
    <select id="findAllEmotions" resultMap="emotionResultMap">
        SELECT emotion_id, emotion_name
        FROM EMOTION
    </select>
</mapper>
