<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.banbanmoomani.memilog.DAO.FileMapper">
    <resultMap id="fileResultMap" type="com.banbanmoomani.memilog.DTO.FileDTO">
        <id property="picture_id" column="picture_id"/>
        <result property="src_url" column="src_url"/>
        <result property="type" column="type"/>
        <result property="post_id" column="post_id"/>
        <result property="user_id" column="user_id"/>
        <result property="picture_order" column="picture_order"/>
        <result property="notice_id" column="notice_id"/>
        <result property="mission_id" column="mission_id"/>
    </resultMap>
    <select id="findAllByPostId" parameterType="int" resultMap="fileResultMap">
        SELECT *
        FROM FILE
        WHERE type = 'post'
        AND post_id = #{post_id}
        ORDER BY
        picture_order asc
    </select>
    <update id="updateFile">
        UPDATE FILE
        SET src_url = #{src_url}
        WHERE user_id = #{user_id}
        AND type = #{type};
    </update>

    <select id="getFileUrl" resultType="String">
        SELECT src_url
        FROM FILE
        WHERE user_id = #{user_id}
        AND type = #{type};
    </select>

    <update id="deleteFileUrl">
        UPDATE FILE
        SET src_url = NULL
        WHERE user_id = #{user_id}
        AND type = #{type}
    </update>
    <insert id="insertFile" parameterType="com.banbanmoomani.memilog.DTO.UpdateFileDTO">
        INSERT
        INTO
        FILE
        (
        src_url,
        post_id,
        picture_order,
        user_id,
        type
        )
        VALUES
        (
        #{src_url},
        #{post_id},
        #{picture_order},
        #{user_id},
        #{type}
        )
    </insert>

    <insert id="insertMissionImage" parameterType="com.banbanmoomani.memilog.DTO.MissionImgFileDTO">
        INSERT INTO FILE
        (
        src_url,
        type,
        mission_id
        )
        VALUES
        (
        #{src_url},
        'mission',
        #{mission_id}
        )
    </insert>

    <update id="updateMissionImage" parameterType="com.banbanmoomani.memilog.DTO.MissionImgFileDTO">
        UPDATE FILE
        SET src_url = #{src_url}
        WHERE mission_id = #{mission_id}
    </update>
    <delete id="deleteFileByIdAndUserId" parameterType="map">
        DELETE FROM FILE
        WHERE picture_id = #{picture_id}
        AND user_id = #{user_id}
    </delete>

    <select id="selectFileIdsByPostId" parameterType="int" resultType="int">
        SELECT picture_id
        FROM FILE
        WHERE post_id = #{postId}
    </select>

    <delete id="deleteFileById" parameterType="int">
        DELETE FROM FILE
        WHERE picture_id = #{fileId}
    </delete>
    <select id="selectFileIdsByPostIdAndUserId" parameterType="map" resultType="int">
        SELECT picture_id
        FROM FILE
        WHERE post_id = #{post_id}
        AND user_id = #{user_id}
    </select>
    <insert id="getFile" parameterType="com.banbanmoomani.memilog.DTO.UpdateFileDTO">
        INSERT
        INTO
        FILE
        (
        src_url,
        post_id,
        picture_order,
        type,user_id
        )
        VALUES
        (
        #{src_url},
        #{post_id},
        #{picture_order},
        #{type},
        #{user_id}
        )
    </insert>
    <update id="updatePictureOrder" parameterType="map">
        UPDATE FILE
        SET picture_order = #{order}
        WHERE src_url = #{srcUrl}
        AND user_id = #{userId}
        AND post_id = #{postId}
        AND type = 'post'
    </update>
    <update id="updateOldFile" >
        UPDATE FILE
        SET picture_order = #{order}
        WHERE picture_id = #{oldFile}
    </update>

    <select id="getProfileUrl" parameterType="long" resultType="string">
        SELECT src_url
        FROM FILE
        WHERE user_id = (
        SELECT user_id
        FROM FILE
        WHERE post_id = #{post_id}
        LIMIT 1
        )
        AND type = 'profile'
    </select>

    <select id="getPostUrl" parameterType="long" resultType="string">
        SELECT src_url
        FROM FILE
        WHERE post_id = #{post_id}
        AND type = 'post'
        ORDER BY picture_order asc
    </select>

</mapper>
