<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.banbanmoomani.memilog.DAO.FileMapper">
    <resultMap id="fileResultMap" type="com.banbanmoomani.memilog.DTO.FileDTO">
        <id property="picture_id" column="picture_id"/>
        <result property="src_url" column="src_url"/>
        <result property="type" column="type"/>
        <result property="post_id" column="post_id"/>
        <result property="user_id" column="user_id"/>
        <result property="picture_order" column="picture_order"/>
        <result property="notice_id" column="notice_id"/>
        <result property="mission_id" column="mission_id"/>
    </resultMap>
    <select id="findAllByPostId" parameterType="int" resultMap="fileResultMap">
        SELECT *
        FROM FILE
        WHERE type = 'post'
        AND post_id = #{postId}
    </select>
    <update id="updateFile">
        UPDATE FILE
        SET src_url = #{src_url}
        WHERE user_id = #{user_id}
        AND type = #{type};
    </update>

    <select id="getFileUrl" resultType="String">
        SELECT src_url
        FROM FILE
        WHERE user_id = #{user_id}
        AND type = #{type};
    </select>

    <update id="deleteFileUrl">
        UPDATE FILE
        SET src_url = NULL
        WHERE user_id = #{user_id}
        AND type = #{type}
    </update>
    <insert id="insertFile">
        INSERT INTO FILE
        (
            src_url,
            type,
            post_id,
            user_id,
            picture_order
        )
        VALUES
        (
            #{src_url},
            #{type},
            #{post_id},
            #{user_id},
            #{picture_order}
        )
    </insert>

    <insert id="insertMissionImage" parameterType="com.banbanmoomani.memilog.DTO.MissionImgFileDTO">
        INSERT INTO FILE
        (
        src_url,
        type,
        mission_id
        )
        VALUES
        (
        #{src_url},
        'mission',
        #{mission_id}
        )
    </insert>

    <update id="updateMissionImage" parameterType="com.banbanmoomani.memilog.DTO.MissionImgFileDTO">
        UPDATE FILE
        SET src_url = #{src_url}
        WHERE mission_id = #{mission_id}
    </update>

    <select id="getProfileUrl" parameterType="long" resultType="string">
        SELECT src_url
        FROM FILE
        WHERE user_id = (
        SELECT user_id
        FROM FILE
        WHERE post_id = #{post_id}
        LIMIT 1
        )
        AND type = 'profile'
    </select>

    <select id="getPostUrl" parameterType="long" resultType="string">
        SELECT src_url
        FROM FILE
        WHERE post_id = #{post_id}
        AND type = 'post'
        ORDER BY picture_order asc
    </select>

</mapper>

