<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.banbanmoomani.memilog.DAO.MissionMapper">
    <resultMap id="missionResultMap" type="com.banbanmoomani.memilog.DTO.MissionDTO">
        <id property="missionId" column="mission_id" />
        <result property="missionContent" column="mission_content" />
        <result property="missionDate" column="mission_date" />
        <result property="priThemeId" column="pri_theme_id" />
        <result property="subThemeId" column="sub_theme_id" />
    </resultMap>

    <resultMap id="postResultMap" type="com.banbanmoomani.memilog.DTO.post.PostDTO">
        <id property="postId" column="post_id" />
        <result property="title" column="title" />
        <result property="content" column="content" />
        <result property="likeCount" column="like_count" />
        <result property="missionId" column="mission_id" />
        <result property="writtenDateTime" column="written_datetime" />
        <result property="nickname" column="nickname" />
        <result property="missionContent" column="mission_content" />
        <result property="missionDate" column="mission_date" />
        <result property="priThemeName" column="pri_theme_name" />
        <result property="subThemeName" column="sub_theme_name" />
        <result property="emotionName" column="emotion_name" />
        <result property="companionType" column="companion_type" />
    </resultMap>

    <!-- 미션 전체 조회 SQL문 -->
    <select id="findAllMission" resultMap="missionResultMap">
        SELECT
            *
        FROM
            MISSION
    </select>

    <!-- 미션 테마 카테고리 조회 SQL문 -->
    <select id="findTemaMission" resultMap="missionResultMap">
        SELECT
            *
        FROM
            MISSION
        WHERE
            PRI_THEMA_ID = 1
    </select>
    <select id="findTodayMission" resultMap="missionResultMap">
        SELECT
            m.mission_id,
            m.mission_content,
            m.mission_date,
            m.pri_theme_id,
            m.sub_theme_id
        FROM
            MISSION m
        WHERE
            DATE_FORMAT(m.mission_date, '%Y-%m-%d') = #{today}
    </select>
    <select id="findPriThemeName" parameterType="int" resultType="string">
        SELECT
            theme_name
        FROM
            THEME
        WHERE
            theme_id = #{priThemeId}
    </select>
    <select id="findSubThemeName" parameterType="int" resultType="string">
        SELECT
            theme_name
        FROM
            THEME
        WHERE
            theme_id = #{subThemeId}
    </select>
    <select id="findMissionById" parameterType="int" resultMap="missionResultMap">
        SELECT *
        FROM MISSION
        WHERE mission_id = #{missionId}
    </select>

    <!-- 선택한 날짜(미션)에 작성된 글 조회 SQL문 -->
<!--    <select id="missionDetailByDate" resultMap="postMap">-->
<!--        SELECT-->
<!--        p.post_id,-->
<!--        p.title,-->
<!--        p.content,-->
<!--        p.like_count,-->
<!--        p.mission_id,-->
<!--        p.written_datetime,-->
<!--        u.nickname,-->
<!--        m.mission_id AS missionId,-->
<!--        m.mission_content AS missionContent,-->
<!--        DATE_FORMAT(m.mission_date, '%m월 %d일') AS missionDate,-->
<!--        mt.theme_name AS priThemeName,-->
<!--        st.theme_name AS subThemeName,-->
<!--        e.emotion_name AS emotionName,-->
<!--        c.companion_type AS companionType-->
<!--        FROM-->
<!--        POST p-->
<!--        LEFT JOIN-->
<!--        MISSION m ON p.mission_id = m.mission_id-->
<!--        LEFT JOIN-->
<!--        THEME mt ON m.pri_theme_id = mt.theme_id-->
<!--        LEFT JOIN-->
<!--        THEME st ON m.sub_theme_id = st.theme_id-->
<!--        LEFT JOIN-->
<!--        EMOTION e ON p.emotion_id = e.emotion_id-->
<!--        LEFT JOIN-->
<!--        COMPANION c ON p.companion_id = c.companion_id-->
<!--        LEFT JOIN-->
<!--        USER u ON p.user_id = u.user_id-->
<!--    </select>-->

</mapper>