<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.banbanmoomani.memilog.DAO.MissionMapper">
    <resultMap id="missionResultMap" type="com.banbanmoomani.memilog.DTO.MissionDTO">
        <id property="missionId" column="mission_id" />
        <result property="missionContent" column="mission_content" />
        <result property="missionDate" column="mission_date" />
        <result property="priThemeId" column="pri_theme_id" />
        <result property="subThemeId" column="sub_theme_id" />
    </resultMap>

    <resultMap id="postResultMap" type="com.banbanmoomani.memilog.DTO.PostDTO">
        <id property="postId" column="post_id" />
        <result property="title" column="title" />
        <result property="content" column="content" />
        <result property="likeCount" column="like_count" />
        <result property="missionId" column="mission_id" />
        <result property="writtenDateTime" column="written_datetime" />
        <result property="nickname" column="nickname" />
        <result property="missionContent" column="mission_content" />
        <result property="missionDate" column="mission_date" />
        <result property="priThemeName" column="main_theme_name" />
        <result property="subThemeName" column="sub_theme_name" />
        <result property="emotionName" column="emotion_name" />
        <result property="companionType" column="companion_type" />
    </resultMap>

    <!-- 미션 전체 조회 SQL문 -->
    <select id="findAllMission" resultMap="missionResultMap">
        SELECT
            *
        FROM
            MISSION
    </select>

    <!-- 선택된 테마로 미션 조회 SQL문 -->
    <select id="findMissionsByTheme" resultMap="missionResultMap">
        SELECT
        *
        FROM
        MISSION
        WHERE
        pri_theme_id IN
        <foreach item="themeId" index="index" collection="themeIds" open="(" separator="," close=")">
            #{themeId}
        </foreach>
        OR
        sub_theme_id IN
        <foreach item="themeId" index="index" collection="themeIds" open="(" separator="," close=")">
            #{themeId}
        </foreach>
    </select>

</mapper>