<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.banbanmoomani.memilog.DAO.MydiaryMapper">
    <resultMap id="postMap" type="com.banbanmoomani.memilog.DTO.PostDTO">
        <id property="postId" column="user_id"/>
        <result property="postId" column="post_id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="likeCount" column="like_count"/>
        <result property="writtenDatetime" column="written_datetime"/>
        <result property="companionName" column="companion_name"/>
        <result property="emotionName" column="emotion_name"/>
        <result property="userName" column="user_name"/>
        <result property="themeName" column="theme_name"/>
    </resultMap>


    <select id="findAllPosts" resultMap="postMap">
        SELECT
              p.post_id
            , p.title
            , p.content
            , p.like_count
            , p.written_datetime
            , p.together
            , e.emotion_name
            , u.nickname
            , c.companion_type
            , t.theme_name
        FROM
            POST p
                LEFT JOIN
            USER u ON p.user_id = u.user_id
                LEFT JOIN
            MISSION m ON p.mission_id = m.mission_id
                LEFT JOIN
            ATTACHMENT a ON p.post_id = a.post_id
                LEFT JOIN
            COMPANION c ON p.companion_id = c.companion_id
                LEFT JOIN
            EMOTION e ON p.emotion_id = e.emotion_id
                LEFT JOIN
            THEME t ON (m.pri_theme_id = t.theme_id OR m.sub_theme_id = t.theme_id)
        WHERE u.user_id = 1;
    </select>

    <select id="findUserById" resultType="com.banbanmoomani.memilog.DTO.UserDTO">
        SELECT
                u.user_id
              , u.email
              , u.password
              , u.birthday
              , u.nickname
              , u.gender
              , u.signup_date
              , a.src_url as srcUrl
        FROM USER u
             LEFT JOIN
             ATTACHMENT a ON u.user_id = a.user_id
        WHERE u.user_id = 1
        AND a.type = 'profile';
    </select>


</mapper>