<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.banbanmoomani.memilog.DAO.NoticeMapper">
    <resultMap id="noticeResultMap" type="com.banbanmoomani.memilog.DTO.NoticeDTO">
        <id property="notice_id" column="notice_id"/>
        <result property="notice_title" column="notice_title"/>
        <result property="notice_content" column="notice_content"/>
        <result property="notice_file_url" column="notice_file_url"/>
        <result property="visible_YN" column="visible_YN"/>
        <result property="written_date" column="written_date"/>
        <result property="admin_id" column="admin_id"/>
    </resultMap>
    <select id="countNotices" resultType="int" parameterType="String">
        SELECT
              COUNT(*)
        FROM NOTICE
        WHERE TRUE
        <if test="content != null and content != ''">
            AND notice_content LIKE CONCAT('%', #{content}, '%')
        </if>
    </select>

    <select id="findAllNotice" resultMap="noticeResultMap" parameterType="String">
        SELECT
               notice_id
              ,notice_title
              ,notice_content
              ,notice_file_url
              ,admin_id
              ,visible_YN
              ,written_date
          FROM NOTICE
         WHERE TRUE
        <if test="content != null and content != ''">
            AND notice_content LIKE CONCAT('%', #{content}, '%')
        </if>
    </select>
    <insert id="createNotice" parameterType="com.banbanmoomani.memilog.DTO.NoticeDTO"
            useGeneratedKeys="true" keyProperty="notice_id">
        INSERT
        INTO NOTICE
        (
          notice_title
        , notice_content
        , notice_file_url
        , admin_id
        , visible_YN
        , written_date
        , notice_id
        )
        VALUES
        (
          #{notice_title}
        , #{notice_content}
        , #{notice_file_url}
        , #{admin_id}
        , #{visible_YN}
        , #{written_date}
        , #{notice_id}
        )
    </insert>
    <update id="updateNotice" parameterType="com.banbanmoomani.memilog.DTO.admin.notice.NoticeUpdateRequestDTO">
        UPDATE NOTICE
        SET

             notice_title = #{notice_title}
            ,notice_content = #{notice_content}
            ,visible_YN = #{visible_YN}

         WHERE notice_id = #{notice_id}

    </update>
</mapper>