<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.banbanmoomani.memilog.DAO.PostMapper">

    <resultMap id="postResultMap" type="com.banbanmoomani.memilog.DTO.post.PostDTO">
        <id property="post_id" column="post_id"/>
        <result property="content" column="content"/>
        <result property="like_count" column="like_count"/>
        <result property="mission_id" column="mission_id"/>
        <result property="written_datetime" column="written_datetime"/>
        <result property="emotion_id" column="emotion_id"/>
        <result property="user_id" column="user_id"/>
        <result property="companion_id" column="companion_id"/>
        <result property="report_count" column="report_count"/>
        <result property="hidden_YN" column="hidden_YN"/>
    </resultMap>

    <select id="findAllPost" resultMap="postResultMap">
        SELECT
            p.post_id,
            p.content,
            p.like_count,
            m.mission_id,
            DATE_FORMAT(m.mission_date, '%m월 %d일') AS missionDate,
            e.emotion_id,
            p.user_id,
            c.companion_id,
            p.report_count,
            p.hidden_YN
        FROM
            POST p
        LEFT JOIN
            MISSION m ON p.mission_id = m.mission_id
        LEFT JOIN
            EMOTION e ON p.emotion_id = e.emotion_id
        LEFT JOIN
            COMPANION c ON p.companion_id = c.companion_id
        LEFT JOIN
            USER u ON p.user_id = u.user_id
    </select>
    <insert id="createPost" parameterType="com.banbanmoomani.memilog.DTO.post.CreateRequestDTO"
            useGeneratedKeys="true" keyProperty="postId">
        INSERT INTO POST
        (
            content,
            like_count,
            mission_id,
            written_datetime,
            companion_id,
            emotion_id,
            user_id
        )
        VALUES
        (
            #{content},
            0,
            (SELECT mission_id FROM MISSION WHERE mission_content = #{mission_content}),
            NOW(),
            #{companion_id},
            #{emotion_id},
            #{user_id}
        )
    </insert>
    <select id="findPostById" resultMap="postResultMap" parameterType="_int">
    SELECT
    p.post_id,
    p.content,
    p.like_count,
    p.mission_id,
    p.written_datetime,
    p.emotion_id,
    p.user_id,
    p.companion_id,
    p.report_count,
    p.hidden_YN,
    mt.theme_name AS pri_theme_name,
    st.theme_name AS sub_theme_name
    FROM
    POST p
    LEFT JOIN
    MISSION m ON p.mission_id = m.mission_id
    LEFT JOIN
    THEME mt ON m.pri_theme_id = mt.theme_id
    LEFT JOIN
    THEME st ON m.sub_theme_id = st.theme_id
    WHERE
    p.post_id = #{postId}
    </select>

    <update id="updatePost" parameterType="com.banbanmoomani.memilog.DTO.post.PostDTO">
        UPDATE
            POST
        SET
            content = #{content},
            mission_id = #{mission_id},
            emotion_id = #{emotion_id},
            companion_id = #{companion_id}
        WHERE
            post_id = #{post_id} AND user_id = #{user_id}
    </update>
    <delete id="deletePostById" parameterType="_int">
        DELETE
        FROM
            POST
        WHERE
            post_id = #{post_id}
    </delete>


    <select id="findAllPostOnMissionByDate" resultMap="postResultMap">
        SELECT
        p.post_id,
        p.content,
        p.like_count,
        m.mission_id,
        DATE_FORMAT(m.mission_date, '%m월 %d일') AS missionDate,
        e.emotion_id,
        p.user_id,
        c.companion_id,
        p.report_count,
        p.hidden_YN
        FROM
        POST p
        LEFT JOIN
        MISSION m ON p.mission_id = m.mission_id
        LEFT JOIN
        EMOTION e ON p.emotion_id = e.emotion_id
        LEFT JOIN
        COMPANION c ON p.companion_id = c.companion_id
        LEFT JOIN
        USER u ON p.user_id = u.user_id
        WHERE
        DATE(m.mission_date) = CURDATE()
    </select>

    <select id="findPostsByCompanion" resultMap="postResultMap">
        SELECT
        p.post_id,
        p.content,
        p.like_count,
        m.mission_id,
        DATE_FORMAT(m.mission_date, '%m월 %d일') AS missionDate,
        e.emotion_id,
        p.user_id,
        c.companion_id,
        p.report_count,
        p.hidden_YN
        FROM
        POST p
        LEFT JOIN
        MISSION m ON p.mission_id = m.mission_id
        LEFT JOIN
        EMOTION e ON p.emotion_id = e.emotion_id
        LEFT JOIN
        COMPANION c ON p.companion_id = c.companion_id
        LEFT JOIN
        USER u ON p.user_id = u.user_id
        WHERE
        p.companion_id IN
        <foreach item="companionId" collection="companionIds" open="(" separator="," close=")">
            #{companionId}
        </foreach>
        AND DAY(m.mission_date) = 1
    </select>
    <select id="findTodayPost" resultType="com.banbanmoomani.memilog.DTO.todayPostDTO">
        SELECT
            p.post_id AS postId,
            f.src_url AS picture,
            u.nickname AS nickname
        FROM
            POST p
        LEFT JOIN
            FILE f ON p.post_id = f.post_id
        LEFT JOIN
            USER u ON p.user_id = u.user_id
        WHERE
            DATE_FORMAT(p.written_datetime, '%Y-%m-%d') = CURDATE()
        AND f.picture_order = 1
            ORDER BY
            p.post_id DESC
    </select>

    <update id="increaseLikeCount" parameterType="int">
        UPDATE POST SET
            `like_count` = `like_count` + 1
        WHERE
            post_id = #{post_id}
    </update>
    <update id="decreaseLikeCount" parameterType="int">
        UPDATE POST SET
            `like_count` = `like_count` - 1
        WHERE
            post_id = #{post_id}
    </update>
    <select id="findArchivePost" resultType="com.banbanmoomani.memilog.DTO.archivePostDTO">
        SELECT
            p.post_id AS archiveId,
            f.src_url AS picture,
            u.nickname AS nickname
        FROM
            POST p
        LEFT JOIN
            FILE f ON p.post_id = f.post_id
        LEFT JOIN
            USER u ON p.user_id = u.user_id
        WHERE
        f.type = 'post'
        AND
        f.picture_order = 1
        ORDER BY
            RAND()
    </select>
    <select id="findTodayPostCount" resultType="_int">
        SELECT
            COUNT(*) AS post_count
        FROM
            POST
        WHERE
             DATE(written_datetime) = CURDATE()
    </select>

</mapper>