<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.banbanmoomani.memilog.DAO.PostMapper">

    <resultMap id="postResultMap" type="com.banbanmoomani.memilog.DTO.post.PostDTO">
        <id property="post_id" column="post_id"/>
        <result property="content" column="content"/>
        <result property="like_count" column="like_count"/>
        <result property="mission_id" column="mission_id"/>
        <result property="written_datetime" column="written_datetime"/>
        <result property="emotion_id" column="emotion_id"/>
        <result property="user_id" column="user_id"/>
        <result property="companion_id" column="companion_id"/>
        <result property="report_count" column="report_count"/>
        <result property="hidden_YN" column="hidden_YN"/>
    </resultMap>

    <resultMap id="postRequestMap" type="com.banbanmoomani.memilog.DTO.mydiary.PostRequestDTO">
        <id property="post_id" column="post_id"/>
        <result property="mission_content" column="mission_content"/>
        <result property="content" column="content"/>
        <result property="like_count" column="like_count"/>
        <result property="mission_id" column="mission_id"/>
        <result property="written_datetime" column="written_datetime"/>
        <result property="user_id" column="user_id"/>
        <result property="nickname" column="nickname"/>
        <result property="mission_date" column="mission_date"/>
        <result property="pri_theme_name" column="pri_theme_name"/>
        <result property="sub_theme_name" column="sub_theme_name"/>
        <result property="emotion_name" column="emotion_name"/>
        <result property="companion_type" column="companion_type"/>
        <result property="src_url" column="src_url"/>
    </resultMap>

    <resultMap id="bannerRequestMap" type="com.banbanmoomani.memilog.DTO.MainTitleDTO">
        <id property="mission_id" column="mission_id" />
        <result property="mission_content" column="mission_content" />
        <result property="src_url" column="src_url"/>
    </resultMap>

    <select id="findAllPost" resultMap="postResultMap">
        SELECT
            p.post_id,
            p.content,
            p.like_count,
            m.mission_id,
            DATE_FORMAT(m.mission_date, '%m월 %d일') AS missionDate,
            e.emotion_id,
            p.user_id,
            c.companion_id,
            p.report_count,
            p.hidden_YN
        FROM
            POST p
        LEFT JOIN
            MISSION m ON p.mission_id = m.mission_id
        LEFT JOIN
            EMOTION e ON p.emotion_id = e.emotion_id
        LEFT JOIN
            COMPANION c ON p.companion_id = c.companion_id
        LEFT JOIN
            USER u ON p.user_id = u.user_id
    </select>
    <insert id="createPost" parameterType="com.banbanmoomani.memilog.DTO.post.CreateRequestDTO"
            useGeneratedKeys="true" keyProperty="postId">
        INSERT INTO POST
        (
            content,
            like_count,
            mission_id,
            written_datetime,
            companion_id,
            emotion_id,
            user_id
        )
        VALUES
        (
            #{content},
            0,
            #{mission_id},
            NOW(),
            #{companion_id},
            #{emotion_id},
            #{user_id}
        )
    </insert>

    <select id="findPostById" resultMap="postResultMap" parameterType="_int">
    SELECT
    p.post_id,
    p.content,
    p.like_count,
    p.mission_id,
    p.written_datetime,
    p.emotion_id,
    p.user_id,
    p.companion_id,
    p.report_count,
    p.hidden_YN,
    mt.theme_name AS pri_theme_name,
    st.theme_name AS sub_theme_name
    FROM
    POST p
    LEFT JOIN
    MISSION m ON p.mission_id = m.mission_id
    LEFT JOIN
    THEME mt ON m.pri_theme_id = mt.theme_id
    LEFT JOIN
    THEME st ON m.sub_theme_id = st.theme_id
    WHERE
    p.post_id = #{postId}
    </select>

    <update id="updatePost" parameterType="com.banbanmoomani.memilog.DTO.post.PostDTO">
        UPDATE
            POST
        SET
            content = #{content},
            emotion_id = #{emotion_id},
            companion_id = #{companion_id}
        WHERE
            post_id = #{post_id} AND user_id = #{user_id}
    </update>
    <delete id="deletePostById" parameterType="_int">
        DELETE
        FROM
            POST
        WHERE
            post_id = #{post_id}
    </delete>


    <select id="findAllPostOnMissionByDate" parameterType="String" resultMap="postRequestMap">
        SELECT
        p.post_id,
        m.mission_content,
        p.content,
        p.like_count,
        p.mission_id,
        p.written_datetime,
        u.nickname,
        m.mission_date,
        mt.theme_name AS pri_theme_name,
        st.theme_name AS sub_theme_name,
        e.emotion_name,
        c.companion_type,
        f.src_url
        FROM
        POST p
        LEFT JOIN
        MISSION m ON p.mission_id = m.mission_id
        LEFT JOIN
        USER u ON p.user_id = u.user_id
        LEFT JOIN
        THEME mt ON m.pri_theme_id = mt.theme_id
        LEFT JOIN
        THEME st ON m.sub_theme_id = st.theme_id
        LEFT JOIN
        EMOTION e ON p.emotion_id = e.emotion_id
        LEFT JOIN
        COMPANION c ON p.companion_id = c.companion_id
        LEFT JOIN
        FILE f ON p.post_id = f.post_id
        WHERE
        p.hidden_YN = 0
        AND
        f.picture_order = 1
        AND
        m.mission_date = #{date}
    </select>

    <select id="findPostsByCompanion" parameterType="com.banbanmoomani.memilog.DTO.post.PostSearchCriteria" resultMap="postRequestMap">
        SELECT
        p.post_id,
        m.mission_content,
        p.content,
        p.like_count,
        p.mission_id,
        p.written_datetime,
        u.nickname,
        m.mission_date,
        mt.theme_name AS pri_theme_name,
        st.theme_name AS sub_theme_name,
        e.emotion_name,
        c.companion_type,
        f.src_url
        FROM
        POST p
        LEFT JOIN
        MISSION m ON p.mission_id = m.mission_id
        LEFT JOIN
        USER u ON p.user_id = u.user_id
        LEFT JOIN
        THEME mt ON m.pri_theme_id = mt.theme_id
        LEFT JOIN
        THEME st ON m.sub_theme_id = st.theme_id
        LEFT JOIN
        EMOTION e ON p.emotion_id = e.emotion_id
        LEFT JOIN
        COMPANION c ON p.companion_id = c.companion_id
        LEFT JOIN
        FILE f ON p.post_id = f.post_id
        WHERE
        p.companion_id IN
        <foreach item="companionId" collection="companionTypes" open="(" separator="," close=")">
            #{companionId}
        </foreach>
        AND
        m.mission_date = #{date}
    </select>

    <select id="showPostDetail" parameterType="long" resultMap="postRequestMap">
        SELECT
        p.post_id,
        m.mission_content,
        p.content,
        p.like_count,
        p.mission_id,
        p.written_datetime,
        u.user_id,
        u.nickname,
        m.mission_date,
        mt.theme_name AS pri_theme_name,
        st.theme_name AS sub_theme_name,
        e.emotion_name,
        c.companion_type,
        f.src_url
        FROM
        POST p
        LEFT JOIN
        MISSION m ON p.mission_id = m.mission_id
        LEFT JOIN
        USER u ON p.user_id = u.user_id
        LEFT JOIN
        THEME mt ON m.pri_theme_id = mt.theme_id
        LEFT JOIN
        THEME st ON m.sub_theme_id = st.theme_id
        LEFT JOIN
        EMOTION e ON p.emotion_id = e.emotion_id
        LEFT JOIN
        COMPANION c ON p.companion_id = c.companion_id
        LEFT JOIN
        FILE f ON p.post_id = f.post_id
        WHERE
        p.post_id = #{post_id}
        LIMIT 1
    </select>

    <select id="findTodayPost" resultType="com.banbanmoomani.memilog.DTO.todayPostDTO">
        SELECT
            p.post_id AS postId,
            f.src_url AS picture,
            u.nickname AS nickname
        FROM
            POST p
        LEFT JOIN
            FILE f ON p.post_id = f.post_id
        LEFT JOIN
            USER u ON p.user_id = u.user_id
        WHERE
            DATE_FORMAT(p.written_datetime, '%Y-%m-%d') = CURDATE()
        AND
            f.picture_order = 1
            ORDER BY
            p.post_id DESC
    </select>

    <update id="increaseLikeCount" parameterType="long">
        UPDATE POST SET
            like_count = like_count + 1
        WHERE
            post_id = #{post_id}
    </update>

    <update id="decreaseLikeCount" parameterType="long">
        UPDATE POST SET
            like_count = like_count - 1
        WHERE
            post_id = #{post_id}
    </update>

    <select id="getLikeCount" parameterType="long" resultType="int">
        SELECT like_count FROM POST WHERE post_id = #{post_id}
    </select>

    <update id="updateHidden">
        UPDATE your_table_name
        SET hidden_YN =
            CASE
                WHEN hidden_YN = 0 THEN 1
                WHEN hidden_YN = 1 THEN 0
            END
        WHERE hidden_YN IN (0, 1);
    </update>
    <select id="findArchivePost" resultType="com.banbanmoomani.memilog.DTO.archivePostDTO">
        SELECT
            p.post_id AS archiveId,
            f.src_url AS picture,
            u.nickname AS nickname
        FROM
            POST p
        LEFT JOIN
            FILE f ON p.post_id = f.post_id
        LEFT JOIN
            USER u ON p.user_id = u.user_id
        WHERE
        f.type = 'post'
        AND
        f.picture_order = 1
        ORDER BY
            RAND()
    </select>
    <select id="findTodayPostCount" resultType="_int">
        SELECT
            COUNT(*) AS post_count
        FROM
            POST
        WHERE
             DATE(written_datetime) = CURDATE()
    </select>
    <select id="updateFile" parameterType="_int" resultType="com.banbanmoomani.memilog.DTO.UpdateFileDTO">
        SELECT
        picture_id,
        src_url,
        picture_order,
        post_id,
        user_id,
        type
        FROM
        FILE
        WHERE
        post_id = #{postId}
        ORDER BY
        picture_order ASC
    </select>
    <select id="findMainFile" parameterType="int" resultType="string">
        SELECT
        src_url
        FROM
        FILE
        WHERE
        post_id = #{postId}
        AND picture_order = 1
        LIMIT 1
    </select>
    <update id="updateFileUrl" parameterType="com.banbanmoomani.memilog.DTO.UpdateFileDTO">
        UPDATE
            FILE
        SET
            src_url = #{src_url}
        WHERE
            picture_id = #{pictureId}
    </update>

    <insert id="insertFile" parameterType="com.banbanmoomani.memilog.DTO.UpdateFileDTO">
        INSERT INTO
        FILE
        (
            post_id,
            src_url
        )
        VALUES
        (
            #{postId},
            #{src_url}
        )
    </insert>

    <select id="showBanner" parameterType="String" resultMap="bannerRequestMap">
        SELECT
        m.mission_id
        , mission_content
        , f.src_url
        FROM MISSION m
        LEFT JOIN FILE f ON m.mission_id = f.mission_id
        WHERE
        m.mission_date = #{date}
    </select>

    <select id="getPostUser" resultType="_int">
        SELECT
            COUNT(*)
        FROM
            `POST` p
        WHERE
            p.post_id = #{post_id}
         AND
            p.user_id = #{user_id}
    </select>
    <select id="hasUserPosted" parameterType="int" resultType="int">
        SELECT COUNT(*) FROM POST WHERE user_id = #{userId}
    </select>
    <select id="hasUserPostedForMission" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM POST
        WHERE user_id = #{userId}
        AND mission_id = #{missionId}
    </select>

</mapper>
