<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.banbanmoomani.memilog.DAO.PostMapper">

    <resultMap id="postResultMap" type="com.banbanmoomani.memilog.DTO.post.PostDTO">
        <id property="postId" column="post_id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="likeCount" column="like_count"/>
        <result property="missionId" column="mission_id"/>
        <result property="writtenDatetime" column="writtenDatetime"/>
        <result property="user_id" column="user_id"/>
        <result property="missionContent" column="missionContent"/>
        <result property="missionDate" column="missionDate"/>
        <result property="priThemeName" column="priThemeName"/>
        <result property="subThemeName" column="subThemeName"/>
        <result property="emotionId" column="emotionId"/>
        <result property="companionId" column="companionId"/>
    </resultMap>

    <select id="findAllPost" resultMap="postResultMap">
        SELECT
        p.post_id,
        m.mission_content AS title,
        p.content,
        p.like_count,
        p.mission_id,
        p.written_datetime,
        u.nickname,
        m.mission_content AS missionContent,
        DATE_FORMAT(m.mission_date, '%m월 %d일') AS missionDate,
        mt.theme_name AS priThemeName,
        st.theme_name AS subThemeName,
        e.emotion_name AS emotionName,
        c.companion_type AS companionType
        FROM
        POST p
        LEFT JOIN
        MISSION m ON p.mission_id = m.mission_id
        LEFT JOIN
        THEME mt ON m.pri_theme_id = mt.theme_id
        LEFT JOIN
        THEME st ON m.sub_theme_id = st.theme_id
        LEFT JOIN
        EMOTION e ON p.emotion_id = e.emotion_id
        LEFT JOIN
        COMPANION c ON p.companion_id = c.companion_id
        LEFT JOIN
        USER u ON p.user_id = u.user_id
    </select>

    <insert id="createPost" parameterType="com.banbanmoomani.memilog.DTO.post.PostDTO"
            useGeneratedKeys="true" keyProperty="postId">
        INSERT INTO POST
        (
            title,
            content,
            like_count,
            mission_id,
            written_datetime,
            companion_id,
            emotion_id,
            user_id
        )
        VALUES
        (
            #{title},
            #{content},
            #{likeCount},
            #{missionId},
            NOW(),
            (SELECT companion_id FROM COMPANION WHERE companion_type = #{companionType}),
            (SELECT emotion_id FROM EMOTION WHERE emotion_name = #{emotionName}),
            #{user_id}
        )
    </insert>
</mapper>
