<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.banbanmoomani.memilog.DAO.ReportBoardMapper">

    <!-- unProcessedPostListDTO resultMap -->
    <resultMap id="unProcessedPostListResultMap" type="com.banbanmoomani.memilog.DTO.admin.report.unProcessedPostListDTO">
        <id property="post_id" column="post_id"/>
        <result property="reported_user_nickName" column="reported_user_nickName"/>
        <result property="post_content" column="post_content"/>
        <result property="report_content" column="report_content"/>
        <result property="report_count" column="report_count"/>
        <result property="rpt_category" column="rpt_category"/>
        <result property="report_datetime" column="report_datetime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- processedPostListDTO resultMap -->
    <resultMap id="processedPostListResultMap" type="com.banbanmoomani.memilog.DTO.admin.report.processedPostListDTO">
        <id property="post_id" column="post_id"/>
        <result property="reported_user_nickName" column="reported_user_nickName"/>
        <result property="post_content" column="post_content"/>
        <result property="report_content" column="report_content"/>
        <result property="report_count" column="report_count"/>
        <result property="rpt_category" column="rpt_category"/>
        <result property="report_process_datetime" column="report_process_datetime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="RPTCategoryListResultMap" type="com.banbanmoomani.memilog.DTO.admin.report.RPTCategoryListDTO">
        <result property="category_name" column="category_name"/>
    </resultMap>

    <!-- Select query for unProcessedPostListDTO -->
    <select id="getUnProcessedPostList" resultMap="unProcessedPostListResultMap">
        SELECT
        a.post_id,
        b.nickName AS reported_user_nickName,
        p.content AS post_content,
        a.content AS report_content,
        p.report_count AS report_count,
        d.category_name AS rpt_category,
        DATE_FORMAT(a.report_datetime, '%Y-%m-%d') AS report_datetime
        FROM REPORT a
        JOIN USER b ON a.reported_user_id = b.user_id
        JOIN POST p ON a.post_id = p.post_id
        JOIN RPT_CATEGORY d ON a.rpt_category_id = d.rpt_category_id
        WHERE a.report_datetime = (
        SELECT MAX(report_datetime)
        FROM REPORT
        WHERE post_id = a.post_id
        )
        AND p.hidden_YN = 0
    </select>

    <!-- Select query for processedPostListDTO -->
    <select id="getProcessedPostList" resultMap="processedPostListResultMap">
        SELECT
        a.post_id,
        b.nickName AS reported_user_nickName,
        p.content AS post_content,
        a.content AS report_content,
        p.report_count AS report_count,
        d.category_name AS rpt_category,
        DATE_FORMAT(a.report_datetime, '%Y-%m-%d') AS report_process_datetime
        FROM REPORT a
        JOIN USER b ON a.reported_user_id = b.user_id
        JOIN POST p ON a.post_id = p.post_id
        JOIN RPT_CATEGORY d ON a.rpt_category_id = d.rpt_category_id
        WHERE a.report_datetime = (
        SELECT MAX(report_datetime)
        FROM REPORT
        WHERE post_id = a.post_id
        )
        AND p.hidden_YN = 1
    </select>

    <select id="getRPTCategoryDTOList" resultMap="RPTCategoryListResultMap">
        SELECT DISTINCT
            category_name
        FROM RPT_CATEGORY
    </select>

    <update id="hidePosts">
        UPDATE POST
        SET hidden_YN = 1
        WHERE post_id IN
        <foreach item="postId" collection="postIdList" open="(" separator="," close=")">
            #{postId}
        </foreach>
    </update>

    <update id="updateUserBans">
        UPDATE USER
        SET
        caution_weights = caution_weights + 1,
        temporary_YN = 'Y',
        susp_period = DATE_ADD(CURDATE(), INTERVAL 7 DAY)
        WHERE user_id IN (
        SELECT DISTINCT user_id FROM POST WHERE post_id IN
        <foreach item="postId" collection="postIdList" open="(" separator="," close=")">
            #{postId}
        </foreach>
        )
    </update>

    <update id="processReport">
        <include refid="hidePosts"/>
        <include refid="updateUserBans"/>
    </update>
</mapper>
