<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.banbanmoomani.memilog.DAO.RPTCategoryMapper">
    <resultMap id="rptCategoryResultMap" type="com.banbanmoomani.memilog.DTO.admin.report.RPTCategoryDTO">
        <id property="rpt_category_id" column="rpt_category_id"/>
        <result property="category_name" column="category_name"/>
        <result property="rpt_weight" column="rpt_weight"/>
        <result property="stop_day" column="stop_day"/>
    </resultMap>
    <select id="findAllRPTCategory" resultMap="rptCategoryResultMap">
        SELECT
               rpt_category_id
             , category_name
             , rpt_weight
             , stop_day
        FROM RPT_CATEGORY
    </select>
    <insert id="createRPTCategory" keyProperty="rpt_category_id" useGeneratedKeys="true"
            parameterType="com.banbanmoomani.memilog.DTO.admin.report.RPTCategoryRequestDTO">
        INSERT
          INTO RPT_CATEGORY
        (
             category_name
            ,rpt_weight
            ,stop_day
        )
        VALUES
        (
             #{categoryName}
            ,#{rptWeight}
            ,#{stopDay}
        )
    </insert>
</mapper>