<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.banbanmoomani.memilog.DAO.UserMapper">
    <resultMap id="userResultMap" type="com.banbanmoomani.memilog.DTO.user.UserDTO">
        <id property="user_id" column="user_id"/>
        <result property="email" column="email"/>
        <result property="password" column="password"/>
        <result property="birthday" column="birthday"/>
        <result property="nickname" column="nickname"/>
        <result property="gender" column="gender"/>
        <result property="caution_weights" column="caution_weights"/>
        <result property="temporary_YN" column="temporary_YN"/>
        <result property="today_access_YN" column="today_access_YN"/>
        <result property="signup_date" column="signup_date"/>
        <result property="susp_period" column="susp_period"/>
    </resultMap>
    <select id="findUserById" parameterType="int" resultMap="userResultMap">
        SELECT
        *
        FROM
        USER
        WHERE
        user_id = #{user_id}
    </select>
    <select id="findUserByEmail" parameterType="String" resultMap="userResultMap">
        SELECT
            *
        FROM
            USER
        WHERE
            email = #{email}
    </select>
    <select id="findAllUser" resultMap="userResultMap">
        SELECT
            *
        FROM
            USER
    </select>
    <insert id="insertUser" parameterType="com.banbanmoomani.memilog.DTO.user.UserDTO"
            useGeneratedKeys="true" keyProperty="user_id">
        INSERT INTO USER
        (
            email,
            password,
            birthday,
            nickname,
            gender,
            caution_weights,
            temporary_YN,
            today_access_YN,
            signup_date,
            susp_period
        )
        VALUE
        (
            #{email},
            #{password},
            #{birthday},
            #{nickname},
            #{gender},
            #{caution_weights},
            'N',
            'Y',
            #{signup_date},
            #{susp_period, jdbcType=DATE}
        )
    </insert>

    <insert id="setDefaultProfile" parameterType="com.banbanmoomani.memilog.DTO.FileDTO">
        INSERT INTO FILE
        (
            user_id
          , src_url
          , type
        )
        VALUE
        (
              #{user_id}
            , #{src_url}
            , #{type}
        )
    </insert>

    <update id="updateUserByEmail" parameterType="com.banbanmoomani.memilog.DTO.user.UserDTO">
        UPDATE USER
        <trim prefix="SET" suffixOverrides=",">
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="birthday != null and birthday != ''">
                birthday = #{birthday},
            </if>
            <if test="nickname != null and nickname != ''">
                nickname = #{nickname},
            </if>
            <if test="gender != null and gender != ''">
                gender = #{gender},
            </if>
            <if test="caution_weights != null and caution_weights > 0">
                caution_weights = #{caution_weights},
            </if>
            <if test="susp_period != null">
                susp_period = #{susp_period},
            </if>
            <if test="today_access_YN != null and today_access_YN != ''">
                today_access_YN = #{today_access_YN},
            </if>
            <if test="temporary_YN != null and temporary_YN != ''">
                temporary_YN = #{temporary_YN},
            </if>
        </trim>
        WHERE email = #{email}
    </update>

    <update id="updateTemporary" parameterType="int">
        UPDATE USER
        SET temporary = CASE
                WHEN temporary = 'N' THEN 'T'
                WHEN temporary = 'T' THEN 'N'
            END
        WHERE temporary IN ('N', 'T');
        AND user_id = #{rptedUserId}
    </update>

    <update id="addCautionWeights" parameterType="int">
        UPDATE USER
        SET caution_weights = caution_weights + #{rptWeight};
    </update>

    <delete id="deleteUserById" parameterType="int">
        DELETE FROM USER
        WHERE user_id = #{user_id}
    </delete>

</mapper>